.ent-decom-bar {
  background: #a22730;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}
.ent-decom-bar p {
  margin-top: 0;
  padding: 0.5rem;
}
.ent-decom-bar .ent-decom-alert-img {
  background-image: url(https://www.capitalone.com/assets/img/global/icon/browser-decommision-alert-icon.gif);
  background-position: 0 100%;
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
}
.ent-decom-bar a {
  color: white !important;
  text-decoration: underline;
}
.ent-decom-bar a:hover {
  text-decoration: none;
}
.ent-decom-bar button#decomDismiss {
  padding: 3px;
  float: right;
  background: none;
  border: none;
  color: white;
  position: relative;
  right: 0;
  top: -3px;
  font-size: 1.25em;
  text-decoration: none;
}
.ent-decom-bar button#decomDismiss:hover {
  padding: 2px;
  cursor: pointer;
  background: #bd848f;
  border: 1px solid #efefef;
}
