.home .header-inner{background:transparent;position:fixed;width:100%;box-shadow:none;}
.egs_button .button-head{text-align:center;}
.egs_button .button{margin-top:5px;text-align:center;display:inline-block;position:relative;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;transition:all 0.4s ease;background:#fff;}
.egs_button .button .btn::before{position:absolute;content:"";right:0;bottom:0;height:2px;width:40px;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;transition:all 0.4s ease;background:#1B81BF;}
.egs_button .button:hover .btn::before{width:100%;}
.egs_button .button .btn:after{position:absolute;content:"";right:0;bottom:0;height:30px;width:2px;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;transition:all 0.4s ease;background:#1B81BF;}
.egs_button .button:hover .btn::after{height:100%;}
.egs_button .button span::before{position:absolute;content:"";left:0;top:0;height:2px;width:40px;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;transition:all 0.4s ease;background:#1B81BF;}
.egs_button .button:hover span::before{width:100%;}
.egs_button .button span::after{position:absolute;content:"";left:0;top:0;height:30px;width:2px;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;transition:all 0.4s ease;background:#1B81BF;}
.egs_button .button:hover span::after{height:100%;}
.logo a{background:url(images/logo.png);height:50px;width:180px;display:block;background-repeat:no-repeat;}
.logo a img{visibility:hidden;}
.header-inner.sticky .logo a{background:url(images/logo-final.png);background-repeat:no-repeat;}
.header .nav li a{color:#f9f7f6;}
.header .nav li.current a{}
.header .header-inner.sticky{background:#fff;}
.header .header-inner.sticky li a{color:inherit;text-shadow:none;}
.egs_button .single-slider:before{background:linear-gradient(2deg,#000000,#1B81BF);}
.header .logo img{width:100%}
#features{box-shadow:0px -5px 7px #1c1d1d;background:#fff;}
#features .section-title{position:absolute;top:-170px;background:#fff;padding:3% 9%;}
#Services{background:inherit;}
#Services .single-service{background:#fff;}
.egs_svg_header{width:100%;height:150px;z-index:3;transform:translateZ(0);background:#fff;transform:rotate(180deg);}
.nectar_egs{width:100%;left:0;height:100%;fill:#191b1c;}
.egs_svg_footer{width:100%;height:150px;z-index:3;transform:translateZ(0);background:#fff;}
.nectar-shape-divider{width:100%;left:0;bottom:-1px;height:100%;position:absolute;}
.effect{-webkit-box-shadow:0 -10px 6px -6px #777;-moz-box-shadow:0 -10px 6px -6px #777;box-shadow:0 -10px 6px -6px #232123;}
.effect1{-webkit-box-shadow:0 10px 6px -6px #777;-moz-box-shadow:0 10px 6px -6px #777;box-shadow:0 10px 6px -6px #777;}
.effect2{position:relative;}
.effect2:before, .effect2:after{z-index:-1;position:absolute;content:"";bottom:15px;left:10px;width:50%;top:80%;max-width:300px;background:#777;-webkit-box-shadow:0 15px 10px #777;-moz-box-shadow:0 15px 10px #777;box-shadow:0 15px 10px #777;-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);-ms-transform:rotate(-3deg);transform:rotate(-3deg);}
.effect2:after{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);right:10px;left:auto;}
.effect3{position:relative;}
.effect3:before{z-index:-1;position:absolute;content:"";bottom:15px;left:10px;width:50%;top:80%;max-width:300px;background:#777;-webkit-box-shadow:0 15px 10px #777;-moz-box-shadow:0 15px 10px #777;box-shadow:0 15px 10px #777;-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);-ms-transform:rotate(-3deg);transform:rotate(-3deg);}
.effect4{position:relative;}
.effect4:after{z-index:-1;position:absolute;content:"";bottom:15px;right:10px;left:auto;width:50%;top:80%;max-width:300px;background:#777;-webkit-box-shadow:0 15px 10px #777;-moz-box-shadow:0 15px 10px #777;box-shadow:0 15px 10px #777;-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);}
.effect5{position:relative;}
.effect5:before, .effect5:after{z-index:-1;position:absolute;content:"";bottom:25px;left:10px;width:50%;top:80%;max-width:300px;background:#777;-webkit-box-shadow:0 35px 20px #777;-moz-box-shadow:0 35px 20px #777;box-shadow:0 35px 20px #777;-webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg);-o-transform:rotate(-8deg);-ms-transform:rotate(-8deg);transform:rotate(-8deg);}
.effect5:after{-webkit-transform:rotate(8deg);-moz-transform:rotate(8deg);-o-transform:rotate(8deg);-ms-transform:rotate(8deg);transform:rotate(8deg);right:10px;left:auto;}
.effect6{position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.effect6:before, .effect6:after{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);top:50%;bottom:0;left:10px;right:10px;-moz-border-radius:100px/10px;border-radius:100px/10px;}
.effect6:after{right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg);transform:skew(8deg) rotate(3deg);}
.effect7{position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.effect7:before, .effect7:after{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);top:0;bottom:0;left:10px;right:10px;-moz-border-radius:100px/10px;border-radius:100px/10px;}
.effect7:after{right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg);transform:skew(8deg) rotate(3deg);}
.effect8{position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.effect8:before, .effect8:after{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);top:10px;bottom:10px;left:0;right:0;-moz-border-radius:100px/10px;border-radius:100px/10px;}
.effect8:after{right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg);transform:skew(8deg) rotate(3deg);}
.work_process{background-image:url('images/gear.gif');background-repeat:no-repeat;}
.work_process .overlay{background:#ffffffeb;padding:5% 0;}
.main-workProcess{overflow:hidden;position:relative;}
.work_process h4{}
.work_process h4:before,.work_process h4:after{background-color:#1B81BF}
.main-workProcess .workProcess{position:relative;margin-top:-79px;}
.main-workProcess .workProcess:first-child{margin-top:0;}
.main-workProcess .workProcess:before,
.main-workProcess .workProcess:after{content:"";display:block;width:100%;clear:both;}
.main-workProcess .workProcess:before{content:"";width:100%;height:100%;position:absolute;top:0;right:0;z-index:2;}
.main-workProcess .workProcess-icon{width:210px;height:210px;border-radius:50%;border:25px solid transparent;border-top-color:#f44556;border-right-color:#f44556;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;z-index:1;transform:rotate(45deg);}
.main-workProcess .i_con{display:block;line-height:150px;border-radius:50%;background:#fff;box-shadow:0 0 20px rgba(0,0,0,0.4);margin:auto;font-size:60px;font-weight:bold;color:#f44556;text-align:center;position:absolute;top:0;left:0;bottom:0;right:0;transform:rotate(-45deg);}
.main-workProcess .workProcess-content{width:35%;float:right;background:#f44556;padding:30px 20px;margin:50px 0;z-index:1;position:relative;}
.main-workProcess .workProcess-content:before{content:"";width:20%;height:15px;background:#f44556;position:absolute;top:50%;left:-20%;z-index:-1;transform:translateY(-50%);}
.main-workProcess .title{font-size:20px;font-weight:bold;color:#fff;margin:0 0 10px 0;}
.main-workProcess .description{font-size:16px;color:#fff;line-height:24px;margin:0;}
.main-workProcess .workProcess:nth-child(2n):before{}
.main-workProcess .workProcess:nth-child(2n) .workProcess-icon{transform:rotate(-135deg);}
.main-workProcess .workProcess:nth-child(2n) .i_con{transform:rotate(135deg);}
.main-workProcess .workProcess:nth-child(2n) .workProcess-content{float:left;}
.main-workProcess .workProcess:nth-child(2n) .workProcess-content:before{left:auto;right:-20%;}
.main-workProcess .workProcess:nth-child(2n) .workProcess-icon{border-top-color:#e97e2e;border-right-color:#e97e2e;}
.main-workProcess .workProcess:nth-child(2n) .i_con{color:#e97e2e;}
.main-workProcess .workProcess:nth-child(2n) .workProcess-content,
.main-workProcess .workProcess:nth-child(2n) .workProcess-content:before{background:#e97e2e;}
.main-workProcess .workProcess:nth-child(3n) .workProcess-icon{border-top-color:#13afae;border-right-color:#13afae;}
.main-workProcess .workProcess:nth-child(3n) .i_con{color:#13afae;}
.main-workProcess .workProcess:nth-child(3n) .workProcess-content,
.main-workProcess .workProcess:nth-child(3n) .workProcess-content:before{background:#13afae;}
.main-workProcess .workProcess:nth-child(4n) .workProcess-icon{border-top-color:#105572;border-right-color:#105572;}
.main-workProcess .workProcess:nth-child(4n) .i_con{color:#105572;}
.main-workProcess .workProcess:nth-child(4n) .workProcess-content,
.main-workProcess .workProcess:nth-child(4n) .workProcess-content:before{background:#105572;}
@media only screen and (max-width:1199px){.main-workProcess .workProcess{margin-top:-103px;}
.main-workProcess .workProcess-content:before{left:-18%;}
.main-workProcess .workProcess:nth-child(2n) .workProcess-content:before{right:-18%;}
}
@media only screen and (max-width:990px){.main-workProcess .workProcess{margin-top:-127px;}
.main-workProcess .workProcess-content:before{left:-2%;}
.main-workProcess .workProcess:nth-child(2n) .workProcess-content:before{right:-2%;}
}
@media only screen and (max-width:767px){.main-workProcess .workProcess{margin-top:0;overflow:hidden;}
.main-workProcess .workProcess:before,
.main-workProcess .workProcess:nth-child(2n):before{box-shadow:none;}
.main-workProcess .workProcess-icon,
.main-workProcess .workProcess:nth-child(2n) .workProcess-icon{margin-top:-30px;margin-bottom:20px;position:relative;transform:rotate(135deg);}
.main-workProcess .i_con,
.main-workProcess .workProcess:nth-child(2n) .i_con{transform:rotate(-135deg);}
.main-workProcess .workProcess-content,
.main-workProcess .workProcess:nth-child(2n) .workProcess-content{width:100%;float:none;border-radius:0 0 20px 20px;text-align:center;padding:25px 20px;margin:0 auto;}
.main-workProcess .workProcess-content:before,
.main-workProcess .workProcess:nth-child(2n) .workProcess-content:before{width:15px;height:25px;position:absolute;top:-22px;left:50%;z-index:-1;transform:translate(-50%,0);}
}
.section-header{margin-bottom:60px;position:relative;padding-bottom:20px;}
.section-header::before{content:'';position:absolute;display:block;width:60px;height:5px;background:#1B81BF;bottom:0;left:calc(50% - 25px);}
.section-header h2{font-size:36px;text-transform:uppercase;text-align:center;font-weight:700;margin-bottom:10px;}
.section-header p{text-align:center;padding:0;margin:0;font-size:18px;font-weight:500;}
.work-porcess-area{background:#9E9E9E;}
.work-porcess-area.white{background:#FFFFFF;}
.work-porcess-area .process-info{margin-top:7px;}
.work-porcess-area .process-info .single-process{padding:40px 10px;background:#FFFFFF;-webkit-box-shadow:0 10px 6px -6px #777;-o-box-shadow:0 10px 6px -6px #777;-moz-box-shadow:0 10px 6px -6px #777;-ms-box-shadow:0 10px 6px -6px #777;box-shadow:0 10px 6px -6px #777;position:relative;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s;cursor:pointer;}
.work-porcess-area .process-info .single-process:hover{-webkit-box-shadow:none;-o-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;box-shadow:none;}
.work-porcess-area .process-info .single-process:after{position:absolute;content:"\f101";font-family:"fontawesome";top:50%;-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);right:-17px;color:#1B81BF;background:#fff;padding:8px;font-size:20px;}
.work-porcess-area .process-info .single-process.first{background:#1B81BF;}
.work-porcess-area .process-info .single-process.first i:before{color:#FFFFFF;}
.work-porcess-area .process-info .single-process.first h4{color:#FFFFFF;}
.work-porcess-area .process-info .single-process.thard{background:#1B81BF;}
.work-porcess-area .process-info .single-process.thard i:before{color:#FFFFFF;}
.work-porcess-area .process-info .single-process.thard h4{color:#FFFFFF;}
.work-porcess-area .process-info .single-process.last:after{display:none;}
.work-porcess-area .process-info .single-process i{display:block;line-height:25px;margin-bottom:12px;}
.work-porcess-area .process-info .single-process i:before{font-size:36px;color:#1B81BF;}
.work-porcess-area .process-info .single-process h4{font-size:16px;font-weight:600;text-transform:capitalize;color:#1B81BF;}
@media only screen and (max-width:767px){.work-porcess-area .process-info .single-process::after{display:none;}
.work-porcess-area .process-info .single-process{margin-top:30px;}
.work-porcess-area .section-title h2{margin-bottom:5px;}
.section-header h2{font-size:30px;}
}
.seo_btn{margin-top:28px;}
.seo_btn a{border:1px solid #1B81BF;padding:4px 0px !important;line-height:initial !important;background:#1B81BF;color:#fff !important;box-shadow:0px 0px 0px #247e84;border-radius:20px;font-weight:500 !important;padding-right:11px !important;margin-top:23px;font-family:'Roboto', sans-serif !important;font-size:14px !important;text-transform:none !important;transition:none;}
.seo_btn a:hover{box-shadow:0px 1px 3px #247e84 !important;background:#fff !important;color:#000 !important;border:1px solid #1B81BF !important;}
.seo_btn i{padding:5px 6px;background:#1B81BF;border-radius:50%;}
.calToAction{overflow:hidden;width:100%;padding:6% 0%;}
.home .calToAction{padding:6.5% 0% 0% 0%;background-color:#1B81BF;}
.home .egs_svg_footer{background-color:#1B81BF;}
.cta_box{border:2px solid #1B81BF;padding:50px;background:#fff;}
.calToAction h6{text-transform:capitalize;font-size:2em;text-shadow:1px 2px 1px #ddd;}
.cta_box b{color:#1B81BF}
.calToAction .gradient{background-color:grey;background-image:radial-gradient(ellipse closest-side,#555,#14664A);}
.calToAction .main{position:absolute;top:50%;left:50%;margin-left:-100px;margin-top:-25px;width:200px;height:50px;border-radius:25px;background-color:#1B81BF;}
.calToAction .main p{line-height:50px;padding-left:20px;font-size:21px;}
.calToAction .second{position:absolute;width:100px;height:100px;right:-25px;top:-25px;float:right;border-radius:75px;background:#18222b;border:3px solid #08bed5;}
.calToAction .second p{font-size:26px;color:#ddd;font-style:italic;font-weight:300;line-height:94px;text-align:center;margin-left:-20px;text-shadow:0px 1px 0px rgb(204, 204, 204), 0px 2px 0px rgb(201, 201, 201), 0px 3px 0px rgb(187, 187, 187), 0px 4px 0px rgb(185, 185, 185), 0px 5px 0px rgb(170, 170, 170), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 20px 20px rgba(0, 0, 0, 0.15);}
.calToAction .main:hover .second{-webkit-box-shadow:0 0 10px silver;-moz-box-shadow:0 0 10px silver;box-shadow:0 0 10px silver;-webkit-box-shadow:inset 0 0 30px #000;-moz-box-shadow:inset 0 0 30px #000;box-shadow:inset 0 0 30px #000;text-decoration:none;background-color:#00897b;}
.calToAction a{color:black;}
.calToAction a:hover{-webkit-box-shadow:0 0 10px silver;-moz-box-shadow:0 0 10px silver;box-shadow:0 0 10px silver;text-decoration:none;}
.tis-banner-dev{padding:50px 0;text-align:center;}
.h_title_dev{font-size:40px;}
.h_title_dev span{color:#009688;border-bottom:1px solid;}
.tis-banner-dev p{text-align:center;font-size:17px;line-height:1.5;}
.egs_services{background:#f6f6f6;padding:80px 0}
.serviceBox{padding:25px 30px;text-align:center;background:#fff;border-top:3px solid #1B81BF;border-bottom:3px solid #1B81BF;position:relative;}
.serviceBox:before{content:"";border-top:0 solid #1B81BF;border-right:0 solid transparent;position:absolute;left:0;top:0;z-index:1;transition:all 0.3s ease 0s;border-top-width:30px;border-right-width:30px;}
.serviceBox:hover:before{border-top-width:70px;border-right-width:70px;}
.serviceBox:after{content:"";border-bottom:0 solid #1B81BF;border-left:0 solid transparent;position:absolute;bottom:0;right:0;z-index:1;transition:all 0.3s ease 0s;border-bottom-width:30px;border-left-width:30px;}
.serviceBox:hover:after{border-bottom-width:70px;border-left-width:70px;}
.serviceBox .service-icon{display:inline-block;width:100px;height:100px;line-height:100px;border-radius:20px;border:2px solid #1B81BF;background:#0a2d43;font-size:40px;color:#1B81BF;margin-bottom:20px;position:relative;}
.serviceBox .title{font-size:20px;font-weight:700;color:#1B81BF;letter-spacing:1px;margin:0 0 12px 0;text-transform:uppercase;position:relative;transition:all 0.3s ease 0s;}
.serviceBox:hover .title{letter-spacing:3px;}
.serviceBox .description{font-size:15px;letter-spacing:1px;line-height:27px;margin:0;}
@media only screen and (max-width:990px){.serviceBox{margin-bottom:30px;}
}
.tisServices{padding:50px 0;background-color:#eee;overflow:hidden;}
#myUL{padding:0;list-style:none;display:flex;display:-webkit-flex;flex-wrap:wrap;border-right:none;border-bottom:none;}
#myUL li{width:49.76%;position:relative;padding:15px;border-right:1px dotted #ddd;border-bottom:1px dotted #ddd;background:#fff;margin-bottom:5px;border-radius:50px;}
#myUL li:nth-child(2n+1){margin-right:5px}
#myUL li span{float:left;margin-right:15px;font-size:40px;width:80px;height:80px;border-radius:50%;border:1px solid #ddd;overflow:hidden;padding:18px;text-align:center;background:#eee;color:#1B81BF;transition:0.5s all;}
#myUL li:hover span{background-color:#555;color:#fafafa}
#myUL li a{text-decoration:none;font-size:18px;color:#000;display:block;transition:all .5s ease;}
#myUL li:hover{box-shadow:2px 3px 5px #ccc;word-spacing:3px;}
#myUL b{font-size:18px;font-weight:400;}
#myUL p{font-size:15px;}
.egs_usp{background:url('images/usp.gif');overflow:hidden;background-repeat:no-repeat;background-size:100%;border-top:1px solid #eee;}
.egs_usp .col-md-8 .col-md-6{}
.usp{background:#f5f5f7c7;}
.usp .des_ser{padding:10px 20px;background:#d4eaf6;border-top:1px solid;}
.usp img{width:100%}
.usp h4{font-size:35px;margin:20px 0;}
.usp h6{font-size:15px;margin-bottom:10px;}
.usp p{margin-bottom:20px;}
.egs_usp .service-icon{width:50px;height:50px;border-radius:0;font-size:30px;line-height:inherit;}
.egs_usp .serviceBox{margin-bottom:25px;border:1px solid #e5f1fa;background:#ffffffba;}
.common_body .header-inner{background:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;position:absolute;width:100%;}
.banner_egs{padding:50px 0;}
.common_banner{}
.common_banner .nectar_egs{width:100%;left:0;height:105px;fill:#2f94d1;}
.common_banner .egs_svg_header{background:#fff;transform:rotate(0deg);height:105px;}
.mid_banner .egs_svg_header{}
.mid_banner .nectar_egs{fill:#2f94d1;}
.mid_banner .section-title{background:#1B81BF;padding:50px 0;margin:0;border-bottom:1px solid #1B81BF;}
.mid_banner .section-title h1{color:#fafafa;margin-bottom:1rem;}
.mid_banner .section-title h6 small{font-size:12px;color:#fafafa}
.common_body .logo a{background:url(images/logo-final.png);height:40px;}
.common_body .header .nav li a{color:#555;}
.section img{margin:auto;}
.padding-top-60{padding-top:60px;}
.button_container{position:absolute;left:0;right:0;top:30%;}
.queto_btn{border:none;display:block;text-align:center;cursor:pointer;text-transform:uppercase;outline:none;overflow:hidden;position:relative;color:#fff;font-weight:700;font-size:15px;background-color:#222;padding:17px 60px;margin:0 auto;box-shadow:0 5px 15px rgba(0,0,0,0.20);margin-top:10px;}
.queto_btn span{position:relative;z-index:1;}
.queto_btn:after{content:"";position:absolute;left:0;top:0;height:490%;width:102%;background:#1B81BF;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;-webkit-transform:translateX(-98%) translateY(-25%) rotate(45deg);transform:translateX(-98%) translateY(-25%) rotate(45deg);}
.queto_btn:hover:after{-webkit-transform:translateX(-9%) translateY(-25%) rotate(45deg);transform:translateX(-9%) translateY(-25%) rotate(45deg);}
.ctq_box{border:2px solid #1B81BF;padding:20px;background:#fff;}
.calToQuote{overflow:hidden;width:100%;padding:6% 0%;}
.calToQuote h6{text-transform:capitalize;font-size:2em;text-shadow:1px 2px 1px #ddd;}
.ctq_button{text-align:center;line-height:26px;}
.ctq_button b{color:#1B81BF;}
.quote_menu_btn{margin-left:5px;}