#navigation {
  padding: 0 25px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

#navigation .navbar-collapse {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#navigation .navbar-collapse .navbar-nav .nav-item {
  padding: 20px;
}

#navigation .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #0b65c6;
}

#navigation .navbar-brand img {
  height: 50px;
}

#roninLogin,
#roninError {
  background: url("../images/background.7673d15b.html");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 500px;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
}

#roninLogin .form,
#roninError .form {
  width: 35%;
  margin: auto;
}

#roninLogin .form .brandLogo,
#roninError .form .brandLogo {
  text-align: center;
}

#roninLogin .form .brandLogo img,
#roninError .form .brandLogo img {
  height: 60px;
}

#roninLogin .form .brandLogo h3,
#roninError .form .brandLogo h3 {
  color: #1d273d;
  font-size: 24px;
  margin-top: 15px;
}

#roninLogin .form form,
#roninError .form form {
  padding-top: 40px;
}

#roninLogin .form form label,
#roninError .form form label {
  font-size: 24px;
  font-weight: bold;
}

#roninLogin .form form input,
#roninError .form form input {
  border: none;
  margin-bottom: 20px;
  border-radius: 0px;
  border-bottom: 1px solid gray;
}

#roninLogin .form form input::-webkit-input-placeholder,
#roninError .form form input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
}

#roninLogin .form form input:-ms-input-placeholder,
#roninError .form form input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
}

#roninLogin .form form input::-ms-input-placeholder,
#roninError .form form input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
}

#roninLogin .form form input::placeholder,
#roninError .form form input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

#roninLogin .form form input:focus,
#roninError .form form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#roninLogin .form form button,
#roninError .form form button {
  background-color: #1780ef;
  color: white;
  font-weight: 700;
}

#roninLogin .form .errorForm,
#roninError .form .errorForm {
  text-align: center;
  padding-top: 10px;
}

#roninLogin .form .errorForm label,
#roninError .form .errorForm label {
  padding-bottom: 20px;
}

#roninLogin .form .errorForm a,
#roninError .form .errorForm a {
  background-color: #1374e9;
  padding: 15px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 2px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  #roninLogin .form,
  #roninError .form {
    width: 45%;
  }
}

@media (max-width: 768px) {
  #roninLogin .form,
  #roninError .form {
    width: 60%;
  }
}

@media (max-width: 576px) {
  #roninLogin .form,
  #roninError .form {
    width: 80%;
  }
}

#footer {
  background-color: #1d273d;
  padding: 80px;
  margin-top: 80px;
}

#footer .links h4 {
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

#footer .links ul {
  list-style-type: none;
  padding-left: 10px;
}

#footer .links ul li {
  padding: 5px;
}

#footer .links ul li a {
  color: #f3f3f3;
  text-decoration: none;
  font-size: 16px;
}

#footer .links ul li a:hover {
  color: white;
}

#footer .socialLinks i {
  font-size: 25px;
  color: white;
  padding: 0 15px;
}

@media (max-width: 450px) {
  #footer {
    padding: 80px 25px;
  }
}
/*# sourceMappingURL=style.css.map */