#navigation-bar {
  /*background-color: #022043;
  box-shadow: -40px -32px 282px #000;*/

  font-size: 15px;
    background: #ca3526;
    color: #fff;
    font-family: lato,sans-serif;
    font-display: swap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 43px;
    z-index: 100;
}
#navigation-bar .navbar-collapse ul li a {
  color: white;
  font-size: 16px;
  margin-right: 20px;
}
#navigation-bar .navbar-collapse form a {
  color: white;
  margin-right: 20px;
  font-size: 16px;
}
#navigation-bar .navbar-collapse form button {
  padding: 8px 25px;
}
@media (max-width: 768px) {
  #navigation-bar .navbar-collapse form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#welcome-section {
 /* background-color: #00265d;
  height: 100vh;*/
  /*max-height: 750px;*/
  margin-top: 60px;
}
#welcome-section h2 {
  color: #000;
  text-align: center;
  padding: 15px;
    font-size: 28px;
    font-weight: 300;}
#welcome-section h2 span {
  color: #1295ff;
}
@media (max-width: 350px) {
  #welcome-section h2 {
    padding: 30px 15px;
  }
}
#welcome-section form {
  width: 36%;
  border-radius: 5px;
  padding: 30px 20px 20px;
  background-color: white;
  margin: auto;
}
#welcome-section form label {
  font-size: 14px;
  color: #6269a0;
}
#welcome-section form input {
  height: 42px;
  border: 0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0px;
    padding-left: 0;
}
#welcome-section form input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    /* outline: 0; */
    border: 2px solid #000 !important;
    border-radius: 5px !important;
    box-shadow: none !important;
}
#welcome-section form input::-moz-placeholder {
  color: #999;
}
#welcome-section form input:-ms-input-placeholder {
  color: #999;
}
#welcome-section form input::placeholder {
  color: #999;
}
#welcome-section form button {
 background: #cc4538;
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 2em;
    padding: 1em 0;
    margin: 2em 0;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 16px;
}
#welcome-section form .links {
  /*display: flex;*/
  justify-content: space-between;
  /*padding-top: 25px;*/
  text-align: right;
      color: #999;
}
#welcome-section form .links a {
  text-decoration: none;
      color: #999;
}
@media (max-width: 450px) {
  #welcome-section form .links {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  #welcome-section form {
    width: 45%;
  }
}
@media (max-width: 992px) {
  #welcome-section form {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #welcome-section form {
    width: 80%;
  }
}
@media (max-width: 576px) {
  #welcome-section form {
    width: 90%;
    padding: 15px;
  }
  #welcome-section form .links {
    padding-top: 15px;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  #welcome-section form {
    width: 100%;
  }
  #welcome-section form button {
    padding: 7px;
  }
}
#welcome-section #footer {
  color: white;
  text-align: center;
  padding: 20px;
}
#welcome-section #footer i {
  font-size: 24px;
}
#welcome-section #footer span a {
  text-decoration: none;
}

#middle-section {
  background-color: #00265d;
  height: 100vh;
  max-height: 750px;
}
#middle-section h2 {
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 32px;
}
#middle-section h2 span {
  color: #1295ff;
}
@media (max-width: 350px) {
  #middle-section h2 {
    padding: 30px 15px;
  }
}
#middle-section form {
  width: 36%;
  border-radius: 5px;
  padding: 40px 20px 40px 20px;
  background-color: white;
  margin: auto;
  text-align: center;
}
#middle-section form h4 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
#middle-section form p {
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin: 20px 5px;
}
#middle-section form div label {
  font-size: 24px;
  font-weight: bold;
}
#middle-section form div input {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border: none;
  border: 1px solid lightgray;
}
#middle-section form div input:hover {
  outline: none;
}
#middle-section form .button button {
  background-color: #022043;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin-top: 25px;
  padding: 10px 30px;
}
@media (max-width: 1200px) {
  #middle-section form {
    width: 45%;
    padding: 30px;
  }
  #middle-section form h4 {
    margin-bottom: 15px;
  }
}
@media (max-width: 992px) {
  #middle-section form {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #middle-section form {
    width: 80%;
  }
}
@media (max-width: 576px) {
  #middle-section form {
    width: 90%;
    padding: 15px;
  }
  #middle-section form .links {
    padding-top: 15px;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  #middle-section form {
    width: 100%;
  }
  #middle-section form button {
    padding: 7px;
  }
}
#middle-section #footer {
  color: white;
  text-align: center;
  padding: 20px;
}
#middle-section #footer i {
  font-size: 24px;
}
#middle-section #footer span a {
  text-decoration: none;
}

#middle-error-section {
  /*background-color: #00265d;*/
  /*height: 100vh;
  max-height: 750px;*/
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat:no-repeat ;
}
#middle-error-section h2 {
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 32px;
}
#middle-error-section h2 span {
  color: #1295ff;
}
@media (max-width: 350px) {
  #middle-error-section h2 {
    padding: 30px 15px;
  }
}
#middle-error-section form {
  width: 36%;
  border-radius: 5px;
  padding: 40px 20px 70px 20px;
  background-color: white;
  margin: auto;
  text-align: center;
}
#middle-error-section form h4 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
#middle-error-section form p {
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin: 20px 5px;
}
@media (max-width: 576px) {
  #middle-error-section form p {
    margin-top: 0;
  }
}
#middle-error-section form div label {
  font-size: 24px;
  font-weight: bold;
}
#middle-error-section form .calling-number {
  padding-top: 30px;
}
#middle-error-section form .calling-number a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #022043;
  color: white;
  padding: 10px 20px;
}
@media (max-width: 1200px) {
  #middle-error-section form {
    width: 45%;
  }
}
@media (max-width: 992px) {
  #middle-error-section form {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #middle-error-section form {
    width: 80%;
  }
}
@media (max-width: 576px) {
  #middle-error-section form {
    width: 90%;
    padding: 25px;
  }
  #middle-error-section form .links {
    padding-top: 15px;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  #middle-error-section form {
    width: 100%;
  }
  #middle-error-section form button {
    padding: 7px;
  }
}
#middle-error-section #footer {
  color: white;
  text-align: center;
  padding: 20px;
}
#middle-error-section #footer i {
  font-size: 24px;
}
#middle-error-section #footer span a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-collapse {
    text-align: center;
  }
}
body{
      /*background-color: #00265d;*/
    background: url('../images/bg.jpg') no-repeat top #cc4538;
    background-size: 100%;
    background-position: 0 43px;
    background-attachment: fixed;
}
.navbar-brand{
  padding-top: 0px !important;
}