/*! CSS Used from: ./static/css/4.f04942fe.chunk.css */
:root {
  --reach-dialog: 1;
}
/*! CSS Used from: Embedded */
.dcxnAx {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 12px;
}
.csUrYZ {
  display: grid;
  grid-auto-rows: auto;
}
.eDXtKs {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 4px;
}
.fzills {
  background: $fff 0% 0% / cover;
  mix-blend-mode: overlay;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  position: absolute;
  top: 0px;
  left: 0px;
  user-select: none;
}
.fife .gacWOr {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  font-size: inherit;
  padding: 8px 16px;
  border: 0px;
  border-radius: 4px;
}
.hwjYkd {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.loDFqx {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}
.eahMwZ {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 0, 122);
  font-weight: 500;
}
.eahMwZ:hover {
  text-decoration: underline;
}
.eahMwZ:focus {
  outline: none;
  text-decoration: underline;
}
.eahMwZ:active {
  text-decoration: none;
}
html,
input,
button {
  font-family: Inter, sans-serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
a {
  color: rgb(33, 114, 229);
}
* {
  box-sizing: border-box;
}
button {
  user-select: none;
}
html {
  font-size: 16px;
  /*  font-variant: no-common-ligatures no-discretionary-ligatures
      no-historical-ligatures no-contextual;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-feature-settings: 'ss01', 'ss02', 'cv01', 'cv03';*/
}
html {
  color: rgb(0, 0, 0);
}
body {
  min-height: 100vh;
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 0, 122, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.jZixgW {
  padding: 18px;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: rgb(253, 234, 241);
  color: rgb(255, 0, 122);
  font-size: 16px;
  font-weight: 500;
}
.jZixgW:disabled {
  cursor: auto;
}
.jZixgW:focus {
  box-shadow: rgb(252, 220, 232) 0px 0px 0px 1pt;
  background-color: rgb(252, 220, 232);
}
.jZixgW:hover {
  background-color: rgb(252, 220, 232);
}
.jZixgW:active {
  box-shadow: rgb(251, 211, 225) 0px 0px 0px 1pt;
  background-color: rgb(251, 211, 225);
}
.jZixgW:disabled {
  opacity: 0.4;
}
.jZixgW:disabled:hover {
  cursor: auto;
  background-color: rgb(253, 234, 241);
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
}
.OrWyB {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  padding: 0.25rem 0.75rem 0px;
  border-radius: 20px;
}
.ieOKys {
  height: 20px;
  width: 20px;
}
.ieOKys > * {
  stroke: rgb(0, 0, 0);
}
.gmVJiF {
  position: relative;
  width: 100%;
  border: none;
  margin: 0px;
  height: 35px;
  background-color: rgb(237, 238, 242);
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
}
.gmVJiF:hover,
.gmVJiF:focus {
  cursor: pointer;
  outline: none;
  background-color: rgb(206, 208, 217);
}
.gmVJiF svg {
  margin-top: 2px;
}
.fKtjQc {
  margin-left: 0.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border: none;
  text-align: left;
}
.gbEOQq path {
  stroke: rgb(0, 0, 0);
}
.buwzLs {
  width: 100%;
  border: none;
  margin: 0px;
  height: 35px;
  background-color: rgb(237, 238, 242);
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
}
.buwzLs:hover,
.buwzLs:focus {
  cursor: pointer;
  outline: none;
  background-color: rgb(206, 208, 217);
}
.buwzLs svg {
  margin-top: 2px;
}
.cKkxrj {
  margin-left: 0.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border: none;
  text-align: left;
}
.bEAWCR {
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  background-color: rgb(253, 234, 241);
  border: 1px solid rgb(253, 234, 241);
  color: rgb(255, 0, 122);
}
.bEAWCR:disabled {
  cursor: auto;
}
.bEAWCR > * {
  user-select: none;
}
.bEAWCR:focus {
  box-shadow: rgb(246, 221, 232) 0px 0px 0px 1pt;
  border: 1px solid rgb(255, 153, 201);
}
.bEAWCR:hover {
  border: 1px solid rgb(255, 153, 201);
}
.bEAWCR:active {
  box-shadow: rgb(246, 221, 232) 0px 0px 0px 1pt;
  border: 1px solid rgb(255, 153, 201);
}
.bEAWCR:disabled {
  opacity: 0.5;
  cursor: auto;
}
.bEAWCR:focus {
  outline: none;
}
.bEAWCR:hover,
.bEAWCR:focus {
  border: 1px solid rgb(241, 201, 218);
  color: rgb(255, 0, 122);
}
.bEAWCR:hover,
.bEAWCR:focus {
  border: 1px solid rgb(241, 201, 218);
  color: rgb(230, 0, 110);
}
.lpjZRx {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 0.5rem 0px 0.25rem;
  font-size: 1rem;
  width: fit-content;
  font-weight: 500;
}
.ckVukj {
  position: relative;
}
.lhfzmF {
  padding: 2px;
}
.lhfzmF:hover {
  cursor: pointer;
  opacity: 0.8;
}
.kLYKBu {
  margin-top: 1rem;
}
.cPaWcX {
  display: grid;
  grid-template-columns: 1fr 120px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  top: 0px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 2;
}
@media (max-width: 960px) {
  .cPaWcX {
    grid-template-columns: 1fr;
    padding: 0px 1rem;
    width: calc(100%);
    position: relative;
  }
}
@media (max-width: 500px) {
  .cPaWcX {
    padding: 0.5rem 1rem;
  }
}
.hzeIgh {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  justify-self: flex-end;
}
@media (max-width: 960px) {
  .hzeIgh {
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    justify-self: center;
    max-width: 960px;
    padding: 1rem;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    height: 72px;
    border-radius: 12px 12px 0px 0px;
    background-color: rgb(255, 255, 255);
  }
}
.atDwR {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
}
@media (max-width: 960px) {
  .atDwR {
    flex-direction: row-reverse;
    -webkit-box-align: center;
    align-items: center;
  }
}
.hQHvMe {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.XajkD {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
}
@media (max-width: 960px) {
  .XajkD {
    width: 100%;
  }
}
.fQOZGh {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
@media (max-width: 960px) {
  .fQOZGh {
    padding: 1rem 0px 1rem 1rem;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}
.jbqTVs {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
}
.jbqTVs:focus {
  border: 1px solid blue;
}
.fPTcmh {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 12px;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  color: white;
  padding: 4px 8px;
  height: 36px;
  font-weight: 500;
  background: radial-gradient(
      174.47% 188.91% at 1.84% 0%,
      rgb(255, 0, 122) 0%,
      rgb(33, 114, 229) 100%
    ),
    rgb(237, 238, 242);
}
.fPTcmh:focus {
  border: 1px solid blue;
}
.BOpfv {
  width: fit-content;
  position: relative;
  cursor: pointer;
}
.BOpfv:hover {
  opacity: 0.8;
}
.BOpfv:active {
  opacity: 0.9;
}
@media (max-width: 720px) {
  .hGPmAu {
    display: none;
  }
}
.eAZHSJ {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  pointer-events: auto;
  justify-self: flex-start;
  margin-right: 12px;
}
@media (max-width: 720px) {
  .eAZHSJ {
    justify-self: center;
  }
}
.eAZHSJ:hover {
  cursor: pointer;
}
.kxvVGs {
  transition: transform 0.3s ease 0s;
}
.kxvVGs:hover {
  transform: rotate(-5deg);
}
.iReluw {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: rgb(86, 90, 105);
  font-size: 1rem;
  width: fit-content;
  margin: 0px 12px;
  font-weight: 500;
}
.iReluw.ACTIVE {
  border-radius: 12px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.iReluw:hover,
.iReluw:focus {
  color: rgb(0, 0, 0);
}
.hZeDRR {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: rgb(86, 90, 105);
  font-size: 1rem;
  width: fit-content;
  margin: 0px 12px;
  font-weight: 500;
}
.hZeDRR:hover,
.hZeDRR:focus {
  color: rgb(0, 0, 0);
}
@media (max-width: 500px) {
  .hZeDRR {
    display: none;
  }
}
.gPzgiJ {
  position: fixed;
  display: flex;
  right: 0px;
  bottom: 0px;
  padding: 1rem;
  transition: opacity 0.25s ease 0s;
  color: rgb(39, 174, 96);
}
.gPzgiJ:hover {
  opacity: 1;
}
@media (max-width: 960px) {
  .gPzgiJ {
    display: none;
  }
}
.jxLLOW {
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
  margin-left: 0.5rem;
  margin-top: 3px;
  border-radius: 50%;
  position: relative;
  background-color: rgb(39, 174, 96);
}
.fTJfug {
  position: relative;
  max-width: 100%;
  height: 0px;
  margin: 0px;
  display: none;
}
@media (max-width: 720px) {
  .fTJfug {
    display: block;
  }
}
.cuvtIB {
  height: 99%;
  overflow: auto hidden;
  display: flex;
  flex-direction: row;
}
.cuvtIB::-webkit-scrollbar {
  display: none;
}
.gttxav {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 20px;
  position: fixed;
  top: 108px;
  right: 1rem;
  width: 100%;
  z-index: 3;
  max-width: 355px !important;
}
@media (max-width: 720px) {
  .gttxav {
    display: none;
  }
}
.fkEPVJ {
  width: 24px;
  height: 24px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
  border-radius: 24px;
}
.llFLym {
  color: rgb(0, 0, 0);
  width: 0px;
  position: relative;
  font-weight: 500;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  appearance: textfield;
}
.llFLym::-webkit-input-placeholder {
  color: rgb(195, 197, 203);
}
.llFLym::placeholder {
  color: rgb(195, 197, 203);
}
.blAwVv {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
}
.gmdijy {
  -webkit-box-align: center;
  align-items: center;
  height: 2.2rem;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(255, 0, 122);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0px 0.5rem;
}
.gmdijy:focus,
.gmdijy:hover {
  background-color: rgb(230, 0, 110);
}
.bBKElg {
  -webkit-box-align: center;
  align-items: center;
  height: 2.2rem;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 12px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0px 0.5rem;
}
.bBKElg:focus,
.bBKElg:hover {
  background-color: rgb(247, 248, 250);
}
.gJxUJz {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem 1rem 0px;
}
.bOzxuU {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.jsvCpC {
  margin: 0px 0.25rem 0px 0.5rem;
  height: 35%;
}
.jsvCpC path {
  stroke: rgb(255, 255, 255);
  stroke-width: 1.5px;
}
.kTGSIM {
  margin: 0px 0.25rem 0px 0.5rem;
  height: 35%;
}
.kTGSIM path {
  stroke: rgb(0, 0, 0);
  stroke-width: 1.5px;
}
.bsEiMY {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  border-radius: 20px;
  background-color: rgb(247, 248, 250);
  z-index: 1;
}
.hhFRPc {
  border-radius: 20px;
  border: 1px solid rgb(247, 248, 250);
  background-color: rgb(255, 255, 255);
}
.ldinEm {
  margin: 0px 0.25rem;
  font-size: 16px;
}
.jynxCl {
  margin: 0px 0.25rem 0px 0.75rem;
  font-size: 20px;
}
.cUkLNm {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3rem;
  justify-content: space-evenly;
}
.dULoTo {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 3rem;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: rgb(136, 141, 155);
  font-size: 20px;
}
.dULoTo.ACTIVE {
  border-radius: 12px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.dULoTo:hover,
.dULoTo:focus {
  color: rgb(0, 0, 0);
}
.nxHnL {
  position: relative;
  max-width: 420px;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px,
    rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 30px;
  padding: 1rem;
}
.hrCeyI {
  padding-top: calc(16px + 2rem);
  padding-bottom: 20px;
  margin-top: -2rem;
  width: 100%;
  max-width: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: rgb(86, 90, 105);
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 300ms ease-in-out 0s;
}
.jHdCig {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow-x: hidden;
}
.ipEaOK {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.hcgOrL {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  /* overflow: hidden auto;*/
  z-index: 1;
}
@media (max-width: 720px) {
  .hcgOrL {
    padding: 2rem 16px 16px;
  }
}
.dMAmni {
  margin-top: 5rem;
}
/*! CSS Used from: Embedded */
.css-x9zcw6 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 11px;
}
.css-1rhdhic {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(86, 90, 105);
}
/*! CSS Used fontfaces */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(./static/media/Inter-Thin.850febbe.woff2) format('woff2'),
    url(./static/media/Inter-Thin.ead42837.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(./static/media/Inter-ThinItalic.e08d9b2a.woff2) format('woff2'),
    url(./static/media/Inter-ThinItalic.a76db065.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./static/media/Inter-ExtraLight.4d9f96f8.woff2) format('woff2'),
    url(./static/media/Inter-ExtraLight.4bd040df.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(./static/media/Inter-ExtraLightItalic.54d3d9a5.woff2) format('woff2'),
    url(./static/media/Inter-ExtraLightItalic.84c26656.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./static/media/Inter-Light.5baca21a.woff2) format('woff2'),
    url(./static/media/Inter-Light.b9920de0.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(./static/media/Inter-LightItalic.adc70179.woff2) format('woff2'),
    url(./static/media/Inter-LightItalic.0555a46c.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./static/media/Inter-Regular.4dd66a11.woff2) format('woff2'),
    url(./static/media/Inter-Regular.7c539936.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./static/media/Inter-Italic.9528384c.woff2) format('woff2'),
    url(./static/media/Inter-Italic.e4ad3666.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./static/media/Inter-Medium.woff2) format('woff2'),
    url(./static/media/Inter-Medium.7a8cc724.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(./static/media/Inter-MediumItalic.565a7104.woff2) format('woff2'),
    url(./static/media/Inter-MediumItalic.417907d2.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./static/media/Inter-SemiBold.woff2) format('woff2'),
    url(./static/media/Inter-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(./static/media/Inter-SemiBoldItalic.ac201e30.woff2) format('woff2'),
    url(./static/media/Inter-SemiBoldItalic.81678d1a.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./static/media/Inter-Bold.aed27700.woff2) format('woff2'),
    url(./static/media/Inter-Bold.79260e5b.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./static/media/Inter-BoldItalic.8ef77a03.woff2) format('woff2'),
    url(./static/media/Inter-BoldItalic.e0879d64.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./static/media/Inter-ExtraBold.92d16aee.woff2) format('woff2'),
    url(./static/media/Inter-ExtraBold.38bc51bc.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(./static/media/Inter-ExtraBoldItalic.57ea76d0.woff2) format('woff2'),
    url(./static/media/Inter-ExtraBoldItalic.0e4b21eb.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(./static/media/Inter-Black.09f4068b.woff2) format('woff2'),
    url(./static/media/Inter-Black.e3735483.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(./static/media/Inter-BlackItalic.daa1ca3c.woff2) format('woff2'),
    url(./static/media/Inter-BlackItalic.07e69b53.woff) format('woff');
}

/*! CSS Used from: http://usp.com/static/css/4.f04942fe.chunk.css */
[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: #fff;
  padding: 2rem;
  outline: none;
}
/*! CSS Used from: Embedded */
.ddQMaV[data-reach-dialog-overlay] {
  z-index: 2;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.eDoAmv {
  overflow-y: hidden;
}
.eDoAmv[data-reach-dialog-content] {
  margin: 0px 0px 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(47, 128, 237, 0.05) 0px 4px 8px 0px;
  padding: 0px;
  width: 50vw;
  overflow: hidden;
  align-self: center;
  max-width: 420px;
  max-height: 90vh;
  display: flex;
  border-radius: 20px;
}
@media (max-width: 960px) {
  .eDoAmv[data-reach-dialog-content] {
    width: 65vw;
    margin: 0px;
  }
}
@media (max-width: 720px) {
  .eDoAmv[data-reach-dialog-content] {
    width: 85vw;
  }
}
.eahMwZ {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 0, 122);
  font-weight: 500;
}
.eahMwZ:hover {
  text-decoration: underline;
}
.eahMwZ:focus {
  outline: none;
  text-decoration: underline;
}
.eahMwZ:active {
  text-decoration: none;
}
button {
  font-family: Inter, sans-serif;
}
a {
  color: rgb(33, 114, 229);
}
* {
  box-sizing: border-box;
}
button {
  user-select: none;
}
.dEriiL {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
}
.gYjEFX {
  background-color: rgb(247, 248, 250);
  outline: none;
  border: 1px solid rgb(237, 238, 242);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0px;
  opacity: 1;
  width: 100% !important;
}
.gYjEFX:focus {
  box-shadow: rgb(255, 0, 122) 0px 0px 0px 1px;
}
.gYjEFX:hover {
  cursor: pointer;
  border: 1px solid rgb(255, 0, 122);
}
.kidyaB {
  display: flex;
  flex-flow: row nowrap;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
}
.jBKpGJ {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.jBKpGJ > img {
  height: 24px;
  width: 24px;
}
@media (max-width: 960px) {
  .jBKpGJ {
    align-items: flex-end;
  }
}
.cazLNv {
  position: absolute;
  right: 1rem;
  top: 14px;
}
.cazLNv:hover {
  cursor: pointer;
  opacity: 0.6;
}
.lfsMDQ {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.holtKv {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  font-weight: 500;
  color: inherit;
}
@media (max-width: 960px) {
  .holtKv {
    padding: 1rem;
  }
}
.iIwBYK {
  background-color: rgb(247, 248, 250);
  padding: 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 960px) {
  .iIwBYK {
    padding: 1rem;
  }
}
.kkYSkD {
  position: relative;
}
.lpvfZD {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 2rem;
}
@media (max-width: 960px) {
  .lpvfZD {
    margin: 1rem;
    font-size: 12px;
  }
}
.bIiGQy {
  display: grid;
  gap: 10px;
}
@media (max-width: 960px) {
  .bIiGQy {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.IiPrH:hover {
  cursor: pointer;
}

/*! CSS Used from: http://usp.com/static/css/4.f04942fe.chunk.css */
[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: #fff;
  padding: 2rem;
  outline: none;
}
/*! CSS Used from: Embedded */
.ddQMaV[data-reach-dialog-overlay] {
  z-index: 2;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.eDoAmv {
  overflow-y: hidden;
}
.eDoAmv[data-reach-dialog-content] {
  margin: 0px 0px 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(47, 128, 237, 0.05) 0px 4px 8px 0px;
  padding: 0px;
  width: 50vw;
  overflow: hidden;
  align-self: center;
  max-width: 420px;
  max-height: 90vh;
  display: flex;
  border-radius: 20px;
}
@media (max-width: 960px) {
  .eDoAmv[data-reach-dialog-content] {
    width: 65vw;
    margin: 0px;
  }
}
@media (max-width: 720px) {
  .eDoAmv[data-reach-dialog-content] {
    width: 85vw;
  }
}
textarea,
button {
  font-family: Inter, sans-serif;
}
* {
  box-sizing: border-box;
}
button {
  user-select: none;
}
.dEriiL {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
}
.kdqIOE {
  background-color: rgb(247, 248, 250);
  outline: none;
  border: 1px solid rgb(237, 238, 242);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0px;
  opacity: 1;
  width: 100% !important;
}
.kdqIOE:focus {
  box-shadow: rgb(255, 0, 122) 0px 0px 0px 1px;
}
.kidyaB {
  display: flex;
  flex-flow: row nowrap;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
}
.cIlEsN {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 12px;
}
.jBKpGJ {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.jBKpGJ > img {
  height: 24px;
  width: 24px;
}
@media (max-width: 960px) {
  .jBKpGJ {
    align-items: flex-end;
  }
}
.dprQkv {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}
.dprQkv > * {
  width: 100%;
}
.gwPVOL {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  border-radius: 12px;
  margin-bottom: 15px;
  color: rgb(255, 104, 113);
  border: 1px solid rgb(255, 104, 113);
}
.gwPVOL > * {
  padding: 1rem;
}
.dEgoM {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.fife .gtLByV {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.fife .bpsvN {
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  color: rgb(0, 0, 0);
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: rgb(255, 255, 255);
  appearance: textfield;
  resize: none;
}
.bpsvN::-webkit-input-placeholder {
  color: rgb(195, 197, 203);
}
.bpsvN::placeholder {
  color: rgb(195, 197, 203);
}
.epRmtu {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.cazLNv {
  position: absolute;
  right: 1rem;
  top: 14px;
}
.cazLNv:hover {
  cursor: pointer;
  opacity: 0.6;
}
.lfsMDQ {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.cRiUIS {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  font-weight: 500;
  color: rgb(255, 0, 122);
}
@media (max-width: 960px) {
  .cRiUIS {
    padding: 1rem;
  }
}
.iIwBYK {
  background-color: rgb(247, 248, 250);
  padding: 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 960px) {
  .iIwBYK {
    padding: 1rem;
  }
}
.kkYSkD {
  position: relative;
}
.IiPrH:hover {
  cursor: pointer;
}
.fife .doCklF {
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  background-color: rgb(246, 221, 232);
  border: none;
  color: rgb(255, 0, 122);
  font-weight: 500;
}
.doCklF:disabled {
  cursor: auto;
}
.doCklF:disabled {
  opacity: 0.5;
  cursor: auto;
}
.doCklF:focus {
  outline: none;
}

/*! CSS Used from: http://usp.com/static/css/4.f04942fe.chunk.css */
[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: #fff;
  padding: 2rem;
  outline: none;
}
/*! CSS Used from: Embedded */
.ddQMaV[data-reach-dialog-overlay] {
  z-index: 2;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.eDoAmv {
  overflow-y: hidden;
}
.eDoAmv[data-reach-dialog-content] {
  margin: 0px 0px 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(47, 128, 237, 0.05) 0px 4px 8px 0px;
  padding: 0px;
  width: 50vw;
  overflow: hidden;
  align-self: center;
  max-width: 420px;
  max-height: 90vh;
  display: flex;
  border-radius: 20px;
}
@media (max-width: 960px) {
  .eDoAmv[data-reach-dialog-content] {
    width: 65vw;
    margin: 0px;
  }
}
@media (max-width: 720px) {
  .eDoAmv[data-reach-dialog-content] {
    width: 85vw;
  }
}
button {
  font-family: Inter, sans-serif;
}
* {
  box-sizing: border-box;
}
button {
  user-select: none;
}
.KlOOP {
  animation: 2s linear 0s infinite normal none running iVXCSc;
  height: 16px;
  width: 16px;
}
@keyframes iVXCSc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.KlOOP path {
  stroke: rgb(255, 0, 122);
}
.dEriiL {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
}
.kdqIOE {
  background-color: rgb(247, 248, 250);
  outline: none;
  border: 1px solid rgb(237, 238, 242);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0px;
  opacity: 1;
  width: 100% !important;
  height: 94px;
}
.kdqIOE:focus {
  box-shadow: rgb(255, 0, 122) 0px 0px 0px 1px;
}
.kidyaB {
  display: flex;
  flex-flow: row nowrap;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
}
.cIlEsN {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 12px;
}
.jBKpGJ {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.jBKpGJ > img {
  height: 24px;
  width: 24px;
}
@media (max-width: 960px) {
  .jBKpGJ {
    align-items: flex-end;
  }
}
.dprQkv {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}
.dprQkv > * {
  width: 100%;
}
.bOlBLg {
  margin-right: 1rem;
}
.kVBjbx {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  border-radius: 12px;
  margin-bottom: 15px;
  color: inherit;
  border: 1px solid rgb(195, 197, 203);
}
.kVBjbx > * {
  padding: 1rem;
}
.epRmtu {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.cazLNv {
  position: absolute;
  right: 1rem;
  top: 14px;
}
.cazLNv:hover {
  cursor: pointer;
  opacity: 0.6;
}
.lfsMDQ {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.cRiUIS {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  font-weight: 500;
  color: rgb(255, 0, 122);
}
@media (max-width: 960px) {
  .cRiUIS {
    padding: 1rem;
  }
}
.iIwBYK {
  background-color: rgb(247, 248, 250);
  padding: 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 960px) {
  .iIwBYK {
    padding: 1rem;
  }
}
.kkYSkD {
  position: relative;
}
.IiPrH:hover {
  cursor: pointer;
}
/*! CSS Used from: Embedded */
* {
  box-sizing: border-box;
}
.cRiUIS {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  font-weight: 500;
  color: rgb(255, 0, 122);
}
@media (max-width: 960px) {
  .cRiUIS {
    padding: 1rem;
  }
}
.IiPrH:hover {
  cursor: pointer;
}

/*! CSS Used from: http://usp.com/static/css/4.f04942fe.chunk.css */
[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: #fff;
  padding: 2rem;
  outline: none;
}
/*! CSS Used from: Embedded */
.ddQMaV[data-reach-dialog-overlay] {
  z-index: 2;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.kjyLeA {
  overflow-y: hidden;
}
.kjyLeA[data-reach-dialog-content] {
  margin: 0px 0px 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(47, 128, 237, 0.05) 0px 4px 8px 0px;
  padding: 0px;
  width: 50vw;
  overflow: hidden;
  align-self: center;
  max-width: 420px;
  max-height: 55vh;
  min-height: 55vh;
  display: flex;
  border-radius: 20px;
}
@media (max-width: 960px) {
  .kjyLeA[data-reach-dialog-content] {
    width: 65vw;
    margin: 0px;
  }
}
@media (max-width: 720px) {
  .kjyLeA[data-reach-dialog-content] {
    width: 85vw;
  }
}
.dBqbKF {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.eNMALJ {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
}
.hwjYkd {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.ckdPEj {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
}
.fROEoW {
  cursor: pointer;
}
.hcyaSn {
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  color: rgb(255, 0, 122);
  font-weight: 500;
}
.hcyaSn:hover {
  text-decoration: underline;
}
.hcyaSn:focus {
  outline: none;
  text-decoration: underline;
}
.hcyaSn:active {
  text-decoration: none;
}
.jLOJLd {
  color: rgb(86, 90, 105);
}
input,
button {
  font-family: Inter, sans-serif;
}
* {
  box-sizing: border-box;
}
button {
  user-select: none;
}
.jGjtEF {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  border-radius: 16px;
  padding: 1.25rem;
}
.fEfDxD {
  display: inline-block;
}
.mNWdB {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0.2rem;
  border: none;
  background: none rgb(247, 248, 250);
  outline: none;
  cursor: default;
  border-radius: 36px;
  color: rgb(86, 90, 105);
}
.mNWdB:hover,
.mNWdB:focus {
  opacity: 0.7;
}
.jbbTQz {
  width: 24px;
  height: 24px;
}
.fkEPVJ {
  width: 24px;
  height: 24px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
  border-radius: 24px;
}
.kgwrRn {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
}
.jEMROz {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  color: rgb(255, 0, 122);
  font-size: 14px;
}
.fCmuLm {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 14px;
  padding: 20px 20px 12px;
}
.kUJQcm {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 4px 20px;
  height: 56px;
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
  gap: 16px;
  cursor: pointer;
  opacity: 0.5;
}
.kUJQcm:hover {
  background-color: rgb(247, 248, 250);
}
.GtnpR {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 4px 20px;
  height: 56px;
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
  gap: 16px;
  cursor: pointer;
  opacity: 1;
}
.GtnpR:hover {
  background-color: rgb(247, 248, 250);
}
.kHDerS {
  position: relative;
  display: flex;
  padding: 16px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  background: none;
  outline: none;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(237, 238, 242);
  appearance: none;
  font-size: 18px;
  transition: border 100ms ease 0s;
}
.kHDerS::-webkit-input-placeholder {
  color: rgb(136, 141, 155);
}
.kHDerS::placeholder {
  color: rgb(136, 141, 155);
}
.kHDerS:focus {
  border: 1px solid rgb(255, 0, 122);
  outline: none;
}
.jHDfQC {
  width: 100%;
  height: 1px;
  background-color: rgb(247, 248, 250);
}
.kQUSZb {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  padding: 8px;
  background-color: rgb(247, 248, 250);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  user-select: none;
}
.kQUSZb > * {
  user-select: none;
}
.kQUSZb:hover {
  cursor: pointer;
}
/*! CSS Used from: Embedded */
.css-xy7yfl {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 16px;
}
.css-1pfyy1z {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  font-weight: 500;
}
.css-r99fas {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
}
.css-8mokm4 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
}
/*! CSS Used from: Embedded */
.resize-triggers {
  animation: 1ms resizeanim;
  visibility: hidden;
  opacity: 0;
  height: 250px;
}
.resize-triggers,
.resize-triggers > div,
.contract-trigger:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.resize-triggers > div {
  background: #eee;
  overflow: auto;
}
.contract-trigger:before {
  width: 200%;
  height: 200%;
}
.fife #connect-wallet {
  color: rgb(255, 0, 122);
}
#swap-page .sc-gqjmRU.gacWOr.sc-eHgmQL.sc-jWBwVP.jZixgW {
  padding: 18px;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: rgb(253, 234, 241);
  color: rgb(255, 0, 122);
  font-size: 16px;
  font-weight: 500;
}
#swap-page .sc-gqjmRU.gacWOr.sc-eHgmQL.sc-jWBwVP.jZixgW:hover {
  background-color: rgb(252, 220, 232);
}

.bEAWCR:hover,
.bEAWCR:focus {
  border: 1px solid rgb(241, 201, 218);
  color: rgb(230, 0, 110);
}

.bEAWCR:hover,
.bEAWCR:focus {
  border: 1px solid rgb(241, 201, 218);
  color: rgb(255, 0, 122);
}
.bEAWCR:active {
  box-shadow: rgb(246, 221, 232) 0px 0px 0px 1pt;
  border: 1px solid rgb(255, 153, 201);
}
.bEAWCR:hover {
  border: 1px solid rgb(255, 153, 201);
}
.bEAWCR {
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  background-color: rgb(253, 234, 241);
  border: 1px solid rgb(253, 234, 241);
  color: rgb(255, 0, 122);
}
.jGjtEF {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  border-radius: 16px;
  padding: 1.25rem;
}

.four .sc-gqjmRU.sc-fAjcbJ.jGjtEF {
  background-color: white;
  z-index: 99;
}

.one .sc-bwzfXH.eDoAmv:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.one .sc-bwzfXH.eDoAmv {
  transition: all 0.3s;
}

.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  -webkit-animation: fade-out 0.3s ease-out both;
  animation: fade-out 0.3s ease-out both;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ziJYS[data-reach-dialog-content] {
  margin: 0px 40px 2rem 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 9px 3px;
  padding: 0px;
  width: 357px;
  min-height: 500px;
  overflow: hidden;
  align-self: flex-start;
  max-width: 420px;
  max-height: 90vh;
  display: flex;
}

.dfwSOx[data-reach-dialog-overlay] {
  height: 100vh;
  z-index: 200;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: end;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.3);
}
.fxjTTZ {
  background-color: white;
}
.ioRYcJ {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  font-family: 'Euclid Circular';
}
.cJdSXz {
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 7px;
  padding: 0.5rem 1rem 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #f2f3f4;
  padding-bottom: 15px;
  padding-top: 15px;
}
.jtGvaT {
  text-align: center;
  /* text-transform: uppercase; */
  color: rgb(243 158 78);
  width: 100%;
  /* background: rgba(176, 176, 176, 0.2); */
  padding: 5px 0px;
  margin-bottom: 10px;
}

.cVDpEJ {
  margin-right: 10px;
  margin-top: 3px;
}

.gYQLem {
  border: 1px solid rgb(187, 192, 197);
  border-radius: 82px;
  padding: 6px 8px;
  flex: 0 0 auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.iPTlA {
  background: rgb(3, 135, 137);
  border: none;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin-right: 5px;
}
.fLTSbL {
  color: #6a737d;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 7px;
}
.eabshv {
  margin-left: 6px;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(0, 0, 0, 0.7);
}

.keFqTR {
  padding: 0px 2rem 2rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.giWhcl {
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
  flex: 1 1 auto;
  background-color: rgb(255, 255, 255);
  appearance: textfield;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.eQLAQu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.jHUZsG {
  background-color: rgb(247, 134, 28) !important;
  color: white;
  margin-top: 20px;
  font-size: 15px;
  height: 45px;
  font-weight: 400;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  width: 100%;
  text-transform: uppercase;
  padding: 8px 22px;
}
.jHUZsG:disabled {
  opacity: 0.5;
}

.sc-emmjRN.cVDpEJ {
  height: 32px;
  width: 32px;
}

.sc-emmjRN.cVDpEJ img {
  height: 32px;
  width: 32px;
}

.fife .private {
  margin-bottom: 10px;
}

.fife .err-btn {
  padding: 18px;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: rgb(253, 234, 241);
  color: rgb(255, 0, 122);
  font-size: 16px;
  font-weight: 500;
}

.six .sc-cQFLBn.dEgoM {
  text-align: center;
  color: #000;
  font-size: 14px;
}

.six .gwPVOL {
  border: 1px solid black;
}

.sc-TFwJa.IiPrH {
  min-height: 19px;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  z-index: 9999999 !important;
  max-height: 300px !important;
  overflow-x: hidden !important;
}

.ui-corner-all:hover {
  background-color: #e6e6e6;
  text-decoration: none;
}

.ui-corner-all {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.form-type-switcher {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-switcher-form {
  background-color: #e0e0e0;
  border-radius: 18px;
  padding: 12px 5px;
  cursor: pointer;
  color: #656565;
  font-size: 13px;
  display: inline-block;
}

.block-switcher-form .switcher-form:first-child {
  margin-left: 0;
}

.block-switcher-form .switcher-form {
  margin-left: 4px;
}

.block-switcher-form .active-custom-element {
  background-color: #3692fe;
  border-radius: 16px;
  padding: 8px;
  color: white;
}

.block-form ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px auto;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.block-form ul input {
  max-width: 190px;
  margin: 8px 0;
}

.four .modal {
  width: 700px;
}

.modal-wrapper {
  overflow: auto;
}

.two .sc-bwzfXH.eDoAmv {
  display: flex;
  width: 700px;
  max-width: 700px;
  overflow: auto;
}

.two .sc-bMvGRv.iIwBYK {
  padding-top: 0;
  overflow: auto;
}

.fife svg {
  overflow: visible;
}

.unlock-page__title {
  font-size: 29px;
  /* font-family: Euclid, Roboto, Helvetica, Arial, sans-serif; */
  /* line-height: 140%; */
  /* font-style: normal; */
  font-weight: normal;
  margin-top: 5px;
  font-weight: bold;
  color: #4d4d4d;
  padding-bottom: -11px;
  margin-bottom: 9px;
}

* {
  outline: none;
}

#enter_password {
  border: 0px solid red;
  width: 100%;
}

.password_input {
  border: 0px solid red !important;
  border-bottom: 2px solid #b3b3b3 !important;
  width: 100%;
  padding-bottom: 7px;
  font-size: 15px;
  margin-top: 60px;
  background: none;
}

.razbl_btn {
  background-color: rgb(247, 134, 28) !important;
  color: white;
  margin-top: 20px;
  font-size: 15px;
  height: 45px;
  font-weight: 400;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  width: 100%;
  text-transform: uppercase;
  padding: 8px 22px;

  cursor: pointer;
}

.fife * {
  font-family: 'Euclid Circular';
}
