@font-face {
  font-family: 'Euclid Circular';
  src: local('Euclid Circular Regular'), local('Euclid-Circular-Regular'),
    url('EuclidCircularA-Regular.woff2') format('woff2'),
    url('EuclidCircularA-Regular.woff') format('woff'),
    url('EuclidCircularA-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  -webkit-animation: fade-out 0.3s ease-out both;
  animation: fade-out 0.3s ease-out both;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

textarea {
  margin-top: 5px;
  margin-bottom: 30px;

  resize: none;
  background-color: rgb(255, 255, 255);
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  border-radius: 8px;
  border: none;
  border: 1px solid #202020;

  color: rgb(21, 18, 18);
  text-align: center;
  cursor: text;

  width: 100%;
}

.err-btn:disabled {
  opacity: 0.5;
}

.sc-iujRgT.dprQkv {
  text-align: center;
}

.dfwSOx[data-reach-dialog-overlay] {
  height: 100vh;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: end;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
}
.fxjTTZ {
  background-color: rgb(247, 248, 250);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.ioRYcJ {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  font-family: 'Euclid Circular';
}
.cJdSXz {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 7px;
  padding: 0.5rem 1rem 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.jtGvaT {
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  background: rgba(176, 176, 176, 0.2);
  padding: 5px 0px;
  margin-bottom: 10px;
}

.cVDpEJ {
  margin-right: 10px;
  margin-top: 3px;
}

.gYQLem {
  border: 2px solid rgb(187, 192, 197);
  border-radius: 82px;
  padding: 6px 8px;
  flex: 0 0 auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.iPTlA {
  background: rgb(3, 135, 137);
  border: none;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin-right: 5px;
}
.fLTSbL {
  color: rgb(33, 145, 138);
  font-size: 12px;
  margin-left: 5px;
  margin-right: 7px;
}
.eabshv {
  margin-left: 6px;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(0, 0, 0, 0.7);
}

.keFqTR {
  padding: 0px 2rem 2rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.giWhcl {
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
  flex: 1 1 auto;
  background-color: rgb(255, 255, 255);
  appearance: textfield;
  resize: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.eQLAQu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.ziJYS[data-reach-dialog-content] {
  margin: 0px 40px 2rem 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(47, 128, 237, 0.05) 0px 4px 8px 0px;
  padding: 0px;
  width: 357px;
  min-height: 500px;
  overflow: hidden;
  align-self: flex-start;
  max-width: 420px;
  max-height: 90vh;
  display: flex;
}
.jHUZsG {
  background-color: rgb(247, 134, 28);
  color: white;
  margin-top: 20px;
  font-size: 15px;
  height: 45px;
  font-weight: 400;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  width: 100%;
  text-transform: uppercase;
  padding: 8px 22px;
}

.jHUZsG:first-letter {
  color: #fff;
}

.jHUZsG:hover {
  background-color: rgb(247, 134, 28);
  color: white;
  box-shadow: none;
  transform: none;
}

.jHUZsG:disabled {
  opacity: 0.5;
}

.sc-emmjRN.cVDpEJ {
  height: 32px;
  width: 32px;
}

.sc-emmjRN.cVDpEJ img {
  height: 32px;
  width: 32px;
}

.six .gwPVOL {
  border: 1px solid black;
}

.sc-TFwJa.IiPrH {
  min-height: 19px;
}

.giWhcl {
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
  flex: 1 1 auto;
  background-color: rgb(255, 255, 255);
  appearance: textfield;
  resize: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.fife {
  opacity: 1;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

.three .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 30px 30px;
}

.three .sc-gojNiO.gtLByV {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.four .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 30px 30px;
}

.four .sc-gojNiO.gtLByV {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  z-index: 9999999 !important;
  max-height: 300px !important;
  overflow-x: hidden !important;
}

.ui-corner-all:hover {
  background-color: #e6e6e6;
  text-decoration: none;
}

.ui-corner-all {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.form-type-switcher {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-switcher-form {
  background-color: #e0e0e0;
  border-radius: 18px;
  padding: 12px 5px;
  cursor: pointer;
  color: #656565;
  font-size: 13px;
  display: inline-block;
}

.block-switcher-form .switcher-form:first-child {
  margin-left: 0;
}

.block-switcher-form .switcher-form {
  margin-left: 4px;
}

.block-switcher-form .active-custom-element {
  background-color: #3692fe;
  border-radius: 16px;
  padding: 8px;
  color: white;
}

.block-form ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px auto;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.block-form ul input {
  max-width: 190px;
  margin: 8px 0;
}

.four .modal {
  width: 700px;
}

.modal-wrapper {
  overflow: auto;
}
