body {
  font-family: "Public Sans", sans-serif;
  background-color: #004cef;
}

#loading {
  background: #fff url("../images/Lazy-Loader-1.gif") no-repeat center;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
}

#header {
  background-color: #fff001;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header h3 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 2px;
}
#header svg {
  margin: 0 15px;
  height: 20px;
  width: 20px;
}

#form {
  background-color: white;
  border-radius: 5px;
  padding: 60px 40px 40px 40px;
  width: 100%;
      max-width: 400px;
  margin: auto;
  margin-top: 50px;
}
#form svg {
  height: 60px;
}
#form h2 {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
#form form input {
  margin-bottom: 45px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0px;
  height: 50px;
  padding-left: 0;
  padding-left:10px;
}
#form form input:focus {
  box-shadow: none;
}
#form form input::-moz-placeholder {
  color: #bcbcbc;
}
#form form input:-ms-input-placeholder {
  color: #bcbcbc;
}
#form form input::placeholder {
  color: #bcbcbc;
}
#form form .button button {
  background-color: rgb(0, 46, 167);
  border-radius: 5px;
  padding: 15px;
  font-size: 17px;
  color: white;
  font-weight: bold;
}
#form form .bottom-links {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#form form .bottom-links a {
  font-size: 15px;
}
#form form .bottom-links button {
  background-color: #f0f1f0;
  padding: 10px 25px;
}
@media (max-width: 1200px) {
  #form {
    width: 40%;
  }
}
@media (max-width: 992px) {
  #form {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #form {
    width: 60%;
  }
  #form svg {
    height: 50px;
  }
}
@media (max-width: 576px) {
  #form {
    width: 90%;
  }
}

.error {
  text-align: center;
}
.error h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.error h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.error form label {
  font-size: 20px;
  font-weight: bold;
}
.error form a button {
  background-color: #004cef;
  color: #e0e0e0;
  font-weight: bold;
}
.error form a button:hover {
  color: white;
}

#verify {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 60px 40px 40px 40px;
  width: 26%;
  margin: auto;
  margin-top: 90px;
}
#verify h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
#verify h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
#verify form label {
  font-size: 20px;
  font-weight: bold;
}
#verify form button {
  background-color: #004cef;
  color: #e0e0e0;
  font-weight: bold;
}
#verify form button:hover {
  color: white;
}
#verify form input {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-bottom: 25px;
}
@media (max-width: 1200px) {
  #verify {
    width: 40%;
  }
}
@media (max-width: 992px) {
  #verify {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #verify {
    width: 60%;
  }
  #verify svg {
    height: 50px;
  }
}
@media (max-width: 576px) {
  #verify {
    width: 90%;
  }
}

#vvg77gccdj3o1643813011287 {
                outline: none !important;
                visibility: visible !important;
                resize: none !important;
                box-shadow: none !important;
                overflow: visible !important;
                background: none !important;
                opacity: 1 !important;
                filter: alpha(opacity=100) !important;
                -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity 1}) !important;
                -mz-opacity: 1 !important;
                -khtml-opacity: 1 !important;
                top: auto !important;
                right: 0px !important;
                bottom: 0px !important;
                left: auto !important;
                position: fixed !important;
                border: 0 !important;
                min-height: 0px !important;
                min-width: 0px !important;
                max-height: none !important;
                max-width: none !important;
                padding: 0px !important;
                margin: 0px !important;
                -moz-transition-property: none !important;
                -webkit-transition-property: none !important;
                -o-transition-property: none !important;
                transition-property: none !important;
                transform: none !important;
                -webkit-transform: none !important;
                -ms-transform: none !important;
                width: auto !important;
                height: auto !important;
                display: none !important;
                z-index: 2000000000 !important;
                background-color: transparent !important;
                cursor: none !important;
                float: none !important;
                border-radius: unset !important;
                pointer-events: auto !important;
                clip: auto !important;
            }

             @keyframes tawkMaxOpen {
                0% {
                    opacity: 0;
                    transform: translate(0, 30px);
                }
                to {
                    opacity: 1;
                    transform: translate(0, 0px);
                }
            }
            @-moz-keyframes tawkMaxOpen {
                0% {
                    opacity: 0;
                    transform: translate(0, 30px);
                }
                to {
                    opacity: 1;
                    transform: translate(0, 0px);
                }
            }
            @-webkit-keyframes tawkMaxOpen {
                0% {
                    opacity: 0;
                    transform: translate(0, 30px);
                }
                to {
                    opacity: 1;
                    transform: translate(0, 0px);
                }
            }
            #usm0rvtfi0vo1643813011665.open {
                animation: tawkMaxOpen 0.25s ease !important;
            }
            @keyframes tawkMaxClose {
                from {
                    opacity: 1;
                    transform: translate(0, 0px);
                }
                to {
                    opacity: 0;
                    transform: translate(0, 30px);
                }
            }
            @-moz-keyframes tawkMaxClose {
                from {
                    opacity: 1;
                    transform: translate(0, 0px);
                }
                to {
                    opacity: 0;
                    transform: translate(0, 30px);
                }
            }
            @-webkit-keyframes tawkMaxClose {
                from {
                    opacity: 1;
                    transform: translate(0, 0px);
                }
                to {
                    opacity: 0;
                    transform: translate(0, 30px);
                }
            }
            #usm0rvtfi0vo1643813011665.closed {
                animation: tawkMaxClose 0.25s ease !important;
            }

             .animate-label {
                        position: relative;
                        background-color: white;
                    }

                    .animate-label label {
                        position: absolute;
                        bottom: 0;
                        left: 0px;
                        z-index: 0;
                        background-color: transparent;
                        color: #bcbcbc;
                    }

                    .animate-label input {
                        background-color: transparent;
                        position: relative;
                        z-index: 3;
                        padding: 5px;
                    }

                    .animate-label input:active {
                        background-color: transparent;
                    }

                    .animate-label label.active {
                        color: black;
                        animation-name: animate-label-active;
                        animation-duration: 100ms;
                        animation-fill-mode: both;
                        background: white;
                        z-index: 4;
                        padding: 5px 5px 0 5px;
                        animation-timing-function: linear;
                    }

                    @keyframes animate-label-active {
                        from {
                            bottom: 0;
                        }

                        to {
                            bottom: 35px;
                            text-transform: uppercase;
                            font-size: 14px;
                            left: 15px;
                        }
                    }