body{
    font-size: 15px;
    font-family: Arial,sans-serif;
    overflow-x: hidden;
}

.hero{
    background: url("../images/hero.jpg") no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 35%);
}
.plr{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb1-40{
    margin-bottom: 40px;
}
.mb-100{
    margin-bottom: 100px;
}

.padding{
    padding: 40px;
    padding-bottom: 140px;
}
.mtb-30{
    padding: 30px 0px;
}
.h1-tittle{
    color: #ffffff;
    font-weight: 700; 
    margin-bottom: 25px;
    margin-top:80px;
}
.h3-tittle{
    color: #ffffff;
    font-weight: 700; 
    margin-bottom: 40px;
}


@media(max-width: 768px){
    .padding{
        padding-top: 100px;
    }
    .h1-tittle{
        color: #ffffff;
        font-weight: 700; 
        margin-bottom: 5px;
        margin-top:8px;
        font-size: 25px;
    }
    .h3-tittle{
        color: #ffffff;
        font-weight: 700; 
        margin-bottom: 40px;
        font-size: 16px;
    }
    .hero{
        position: relative;
        background: url(../images/hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }
    .mb-center{
        text-align: center;
    }
}

/* Search Bar */

.example input[type=text],.example input[type=search] {
    padding: 20px;
    font-size: 17px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #ffffff;
    width: 100%;
    background: #ffffff;
}

.example button {
    width: 100%;
    padding: 19px;
    /*margin-left: -61px;*/
    background: #2196F3;
    color: white;
    font-size: 16.5px;
    border: 1px solid #2196F3;
    border-left: none;
    cursor: pointer;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.example button:hover {
    background: #0b7dda;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}

input:focus, textarea:focus, select:focus, button:focus{
    outline: none;}

@media(max-width: 520px){

    .example input[type=text],.example input[type=search] {
        padding: 20px;
        font-size: 17px;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        border: 1px solid #ffffff;
        width: 100%;
        background: #ffffff;
    }

    .example button {
        width: 100%;
        padding: 19px;
        /*margin-left: -59px;*/
        background: #2196F3;
        color: white;
        font-size: 16.5px;
        border: 1px solid #2196F3;
        border-left: none;
        cursor: pointer;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }
}

/* Search Bar End */

/* Content */
.pad-tb{
    padding-top: 55px;
    padding-bottom: 100px;
}

.bg-color3{
    background-color: #eee;
}
.bg-color4{
    background-color: #ffffff;
}
.review-padd{
    padding: 2.5rem;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.column {
    float: left;
    padding-left: 25px;
    width: 100%;
}
.name{
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.name span{
    color: #adadad;
}
.text{
    font-weight: 600;
}
@media(max-width: 768px){
    .column {
        float: left;
        padding-left: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
    .mb-100{
        margin-bottom: 40px;
    }
    .pad-tb{
        padding-top: 55px;
        padding-bottom: 30px;
    }
    .mb1-40{
        margin-bottom: 0px;
    }
}



/****** Style Star Rating Widget *****/

.rating { 
    border: none;
    float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before { 
    content: "\f089";
    position: absolute;
}

.rating > label { 
    color: #ddd; 
    float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 



/* Content End */


/* image Section */

.carousel-section{
    margin-bottom: 100px;
}

.carousel-section .slide{ 
    margin-top: 30px;
}
.carousel-section .row-width{
    width: 80%;
    left: 0;
    margin-left: -149px;
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 33px;
}

.carousel-section .star-img{
    width: 216px;
    height: 40px;
    margin-bottom: 30px;
    float: left;
}
.carousel-section .h3-text{
    color: #32323d;
    font-weight: 700;
    font-size: 40px;
    text-shadow: none;
    text-align: left;
    line-height: 1.5;
}

.carousel-section .pd-62{
    padding: 62px;
}
.carousel-section .img-width{
    width: 100%;
}

.carousel-section .carousel-control.left {
    background-image: none; 
    background-image: none;
    background-image: none; 
    background-image: none; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-section .carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-section .icon{
    font-size: 80px;
    margin-top: 100%;
}
.carousel-section .float-l{
    float: left;
    padding-left: 20px;
}
.carousel-section .float-r{
    float: right;
    padding-right: 30px;
}
@media(max-width: 320px){
    .carousel-section .carousel-caption {
        padding-bottom: 0px;
    }
}

@media(max-width: 520px){
    .carousel-section .row-width {
        width: 80%;
        left: 0;
        margin-left: -22px;
        background-color: #fff;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .carousel-section .pd-62{
        padding: 22px;
    }

    .carousel-section .h3-text{
        color: #32323d;
        font-weight: 700;
        font-size: 2.5vw;
        text-shadow: none;
        text-align: left;
        line-height: 1.5;
    }
    .carousel-section .star-img{
        width: 110px;
        height: 19px;
        margin-bottom: 8px;
        float: left;
    }

    .carousel-section .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 10px;
        left: 14%;
        z-index: 10;
        padding-top: 0px;
        padding-bottom: 14px;
        color: #fff;
        text-align: center;
        /* text-shadow: 0 1px 2px rgba(0,0,0,.6); */
    }
    .carousel-section .icon{
        font-size: 45px;
        margin-top: 100%;
    }
    .carousel-section .float-l{
        float: left;
        padding-left: 5px;
    }
    .carousel-section .float-r{
        float: right;
        padding-right: 10px;
    }
}

@media (max-width: 600px){
    .right {
        display: block !important; 
    }
}
@media (min-width: 520px) and (max-width: 767px) {
    .carousel-section .pd-62 {
        padding: 24px;
    }
    .carousel-section .h3-text {
        color: #32323d;
        font-weight: 700;
        font-size: 20px;
        text-shadow: none;
        text-align: left;
        line-height: 1.5;
    }
    .carousel-section .row-width {
        width: 80%;
        left: 0;
        margin-left: -40px;
        background-color: #fff;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1020px) {
    .carousel-section  .row-width {
        width: 80%;
        left: 0;
        margin-left: -80px;
        background-color: #fff;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .carousel-section .pd-62{
        padding: 20px;
    }

    .carousel-section .h3-text{
        color: #32323d;
        font-weight: 700;
        font-size: 26px;
        text-shadow: none;
        text-align: left;
        line-height: 1.5;
    }

}
@media (min-width: 1024px){
    .carousel-section .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 24px;
        left: 20%;
        z-index: 10;
        padding-top: 0px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    .carousel-section .row-width {
        width: 80%;
        left: 0;
        margin-left: -118px;
        background-color: #fff;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .carousel-section .pd-62 {
        padding: 52px;
    }
    .carousel-section .h3-text{
        color: #32323d;
        font-weight: 700;
        font-size: 3vw;
        text-shadow: none;
        text-align: left;
        line-height: 1.5;
    }
}

/*image Section End */





/* Content 3 */
.bg-color2{
    background-color: #0c59f2;
}
.row-padding{
    padding: 104px 150px;
}
.h2-tittle{
    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
}
.para{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 25px;
}
.button {
    background:none;
    border: none;
    color: white;
    padding: 16px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #0c59f2; 
    color: #ffffff; 
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.button1:hover {
    background-color:#ffffff;
    color:#0c59f2;
}

@media(max-width: 768px){
    .h2-tittle{
        font-size: 35px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .row-padding{
        padding: 40px 15px;
    }
    .para{
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 25px;
    }
    .button {
        background:none;
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: #0c59f2; 
        color: #ffffff; 
        border: 2px solid #ffffff;
        border-radius: 3px;
    }

    .button1:hover {
        background-color:#ffffff;
        color:#0c59f2;
    }
    .bg-color2{
        background-color: #0c59f2;
        margin-top: 68px;
    }
}
/* Content 3 End */


/* footer*/

.footer{
    padding: 30px 0px;
}

.bg-color{
    background-color: #000032;
}
.row-margin{
    margin-bottom: 55px;
}
.h4-tittle{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}
.list{
    padding-left: 0px;
}
.list li{
    list-style: none;
    padding: 5px 0px;
}
.list li a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #9999ad;
}
.list li a:hover{
    color: #ffffff;
}
.list2{
    padding-left: 0px;
}
.list2 li{
    list-style: none;
    padding-right: 15px;
    display:inline-block;
}
.list2 li a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #9999ad;
}
.list2 li a:hover{
    color: #ffffff;
}

.btm-list{
    padding-left: 0px;
}

.btm-list li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.btm-list li a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #9999ad;
}
.btm-list li a:hover{
    color: #ffffff;
}
.copyright{
    font-size: 16px;
    font-weight: 600;
    color: #9999ad;
    text-align: right;
    padding-top: 10px;
}

@media(max-width: 768px){
    .copyright{
        text-align: center;
    }

}
/* footer End */


/* ----------------------- Categories Page -------------------------------*/
.cat-bg{
    background-color: #f2f2f5;
}

.cat-h1{
    font-weight: 700;
    padding: 15px 5px;
    color: #000000;
}

.cat-mtb{
    margin-top: 20px;
    margin-bottom: 50px
}
.border-r{
    border-right: 10px solid #f2f2f5;
}
.col-padding{
    padding: 10px 30px;
} 
.cat-list{
    padding-left: 0px;
}
.cat-list li{
    list-style: none;
    padding: 15px 0px;
}
.cat-list li a{
    text-decoration: none;
    color:#454554;
    font-weight: 500;
}
.cat-list li a:hover{
    text-decoration: none;
    color:#0c59f2;
}

/* col-8 --*/
.border-l{
    border-left: 10px solid #f2f2f5;
}
.col-padding2{
    padding: 30px 30px;
} 
.cat-h3{
    font-size: 25px;
}
.cat-h4{
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 1.5;
}
.cat-h4:hover{
    color: #0c59f2;
}
.cat-list2{
    padding: auto;
}
.cat-list2 li{
    list-style: none;
    padding-bottom: 10px;
    display: inline-block;
    width: 48%;
}
.cat-list2 li a{
    text-decoration: none;
    color: #454554;
    font-size: 16px;
}
.cat-list2 li a:hover{
    color: #0c59f2;
}
.border-b{
    border-bottom: 1px solid #f2f2f5;
}
.cat-row-p{
    padding-bottom: 20px;
    padding-top: 35px;
}
.padd-t{
    padding-top: 0px;
}

@media(max-width:768px){
    .cat-h1{
        font-weight: 700;
        padding: 4px 0px;
        color: #000000;
        font-size: 18px;
        line-height: 1.5;
    }

    .border-l{
        border-left: 0px solid #f2f2f5;
    }
    .cat-h4{
        font-weight: 600;
        font-size: 5vw;
        margin-bottom: 15px;
    } 
    .cat-list2{
        padding-left: 0px;
    }
    .cat-list2 li{
        list-style: none;
        padding-bottom: 10px;
    }
    .cat-list2 li a{
        text-decoration: none;
        color: #454554;
        font-size: 14px;
    }
    .border-b{
        border-bottom: 3px solid #f2f2f5;
    }
    .cat-row-p{
        padding-bottom: 11px;
        padding-top: 15px;
    }
    .border-r{
        border-right: 0px solid #f2f2f5;
    }
}

/* ----------------------- Categories Page End-----------------------------*/


/* ----------------------- Login Page -----------------------------*/

.login{
    background-color: #f4f7f9;
}

.global-container{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-container form{
    padding-top: 20px;
    font-size: 14px;
    margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
    font-size: 14px;
    margin-top:20px;
}
.log-padding{
    padding: 45px;
}

.global-container label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15%;
}

.global-container .form-control {
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 22px;
    height: 55px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.global-container .btn-block {
    display: block;
    width: 70%;
    height: 50px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #1a66ff;
    color: #ffffff;
}
.global-container .btn-block:hover{
    background-color: #0d50d6;
    color: #ffffff;
}

.login-form{ 
    width:50%;
    margin:90px;
    background-color: #ffffff;
    border:1px solid #d9d9d9;
}
.mb-10{
    margin-bottom: 10px;
}
.sign-up{
    padding:20px 0 0;
    margin-left: 15%;
    color: #a3a4ac;
}
.forgot{
    margin-left: 15%;
    margin-top: 10px;
}
.alert{
    margin-bottom:-30px;
    font-size: 13px;
    margin-top:20px;
}

.or-line {
    margin-top: 20px;
    color: #A3A3A3;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}

.or-line:before, .or-line:after {
    background-color: #A3A3A3;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 32%;
    opacity: 0.5;
}
.or-line:before {
    right: 24px;
}
.or-line:after {
    left: 24px;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
}
.google {
    background-color: #dd4b39;
    color: #ffffff;
    width: 70%;
    margin:2% 15%;
}
.google:hover {
    opacity: 1;
    color: #ffffff;
}
.fb {
    background-color: #3B5998;
    color: #ffffff;
    width: 70%;
    margin:1% 15%;
}
.fb:hover {
    opacity: 1;
    color: #ffffff;
}
.text2{
    color: #a3a4ac;
    margin-left: 15%;
    margin-top: 20px;
    padding-left: 0px;
}

@media(max-width: 768px){
    .login{
        background-color: #ffffff;
    }
    .login-form{ 
        width:100%;
        margin:0px;
        background-color: #ffffff;
        border:none;
    }
    .log-padding{
        padding: 10px;
    }
    .global-container form{
        margin-top: 0px;
    }

    .global-container .form-control {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .forgot{
        margin-left: 5%;
        margin-top: 10px;
    }
    .global-container .btn-block {
        display: block;
        width: 90%;
        height: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .or-line:before, .or-line:after {
        width: 40%;
    }
    .or-line:before {
        right: 22px;
    }
    .or-line:after {
        left: 22px;
    }
    .text2{
        margin-left: 5%;
    }
    .google {
        width: 90%;
        margin:2% 5%;
    }

    .fb {
        background-color: #3B5998;
        color: #ffffff;
        width: 90%;
        margin:1% 5%;
    }
    .sign-up{
        margin-left: 5%;
    }
}
/* ----------------------- Login Page End-----------------------------*/

/* ----------------------- Sign up Page -----------------------------*/
.signup{
    background-color: #f9f9fa;
}
.mr-t-115{
    margin-top: 115px;
}
.signup-form{
    padding-top: 100px;
    padding-bottom: 100px;
}
.signup-form h2{
    font-weight: 700;
    color: #000032;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.signup-form h3{
    font-weight: 700;
    color: #000032;
    font-size: 23px;
    margin-bottom: 25px;
}
.signup-form p{
    color: #000032;
    margin-bottom: 20px;
}
.sign-padding{
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px;
}
.signup-form h1{
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 35px;
}

.signup-form input[type=text], select, textarea {
    width: 100%;
    height: 60px;
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.signup-form  .form-control {
    display: block;
    width: 100%;
    height: 55px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #a3a4ac;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.signup-form .form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.signup-form ::placeholder { 
    color: #a3a4ac;
}
.signup-form input[type=submit] {
    width: 100%;
    background-color: #1a66ff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}



.mar-r{
    margin-right: 10px !important;
}
.btm-text{
    color: #a3a4ac !important;
    text-align: center;
    margin-top: 35px !important;
    margin-bottom: 0px !important;
}

@media (max-width: 768px){
    .signup-form{
        padding-top: 15px;
        padding-bottom: 0px;
    }
    .mr-t-115{
        margin-top: 0px;
    }
    .signup-form h2 {
        font-weight: 700;
        color: #000032;
        font-size: 22px;
        margin-top: 25px;
        margin-bottom: 28px;
    }
    .signup-form h3 {
        font-weight: 700;
        color: #000032;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .sign-padding {
        padding: 15px;
    }
    .signup-form h1 {
        font-size: 26px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 25px;
    }
    .signup-form label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-size: 10px;
        font-weight: 700;
    }
    .mar-r {
        margin-right: 2px !important;
    }
    .btm-text {
        color: #a3a4ac !important;
        text-align: center;
        margin-top: 30px !important;
        margin-bottom: 20px !important;
    }
}

/* ----------------------- Sign up Page End-----------------------------*/

/* ----------------------- Category Details Page -----------------------------*/
.cat-dtls-header{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 50, 0.04);
}
.cat-dtls-h1{
    font-weight: 700;
    padding: 15px 0px;
    color: #000000;
    font-size: 32px;
    margin: 0px;
}
.cat-dtls-h4{
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.i-r{
    padding-right: 10px;
}
.cat-dtls-h5{
    color: #6F6F87;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
}
@media(max-width: 768px){
    .cat-dtls-h1 {
        font-weight: 700;
        padding: 15px 0px;
        color: #000000;
        font-size: 24px;
        margin: 0px;
        line-height: 1.5;
    }
    .cat-dtls-h5 {
        line-height: 1.5;
    }
}

.cat-dtls{
    margin-top: 20px;
    margin-bottom: 30px;
}
.bdr-r{
    border-right: 10px solid #f2f2f5;
}
.bdr-b{
    border-bottom: 1px solid #f2f2f5;
}
.cat-dtls .col-pdng{
    padding: 10px 20px;
    padding-bottom: 30px;
} 

.cat-dtls h3{
    font-size: 20px;
    font-weight: 600;
}
.cat-dtl-list{
    padding-left: 0px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}
.cat-dtl-list li{
    list-style: none;
    padding: 12px 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.cat-dtl-list li a{
    text-decoration: none;
    color:#454554;
    font-weight: 500;
}
.cat-dtl-list li a:hover{
    text-decoration: none;
    color:#0c59f2;
}
.cat-dtl-sublist{
    padding-left: 10px;
}
.bold{
    font-weight: 600;
}
.notify {
    padding: 4px 7px !important;
    color: #1b1b21 !important;
    background-color: white !important;
    border-radius: 10px !important;
    border-left: 1px solid #1b1b21 !important;
    border-right: 1px solid #1b1b21 !important;
    margin-left: 10px;
}
.notify:hover {
    color:#0c59f2 !important;
    border-left: 1px solid #0c59f2 !important;
    border-right: 1px solid #0c59f2 !important;
}
.cat-dtls h5{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.cat-dtls h6{
    font-size: 15px;
    margin-top: 22px;
}
.cat-dtls h6:hover{
    color: #00b67a;
}
.input{
    width: 100%;
    height: 40px;
}
.btn1{
    width: 40%;
    padding: 5px 10px;
    border-radius: 0px;
    background-color: #fff;
    border: 1px solid #1b1b21;
    color: #1b1b21;
    margin-top: 15px;
    margin-bottom: 20px;
}
.btn1:hover{
    background-color: #1b1b21;
    color: #ffffff;
}
.cat-dtls input[type=radio] {
    margin: 0px 0 0;
}
.cat-dtls label{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 6px;
}
.status-p{
    color: #9A9AAD;
    font-size:13px;
    margin-top: 10px;
    margin-bottom: 15px; 
}
.col-4-pdng{
    padding: 0px 25px 14px 25px;
}
.bdr-l{
    border-left: 10px solid #f2f2f5;
}
.sub-category{
    padding-left: 0px;
} 
.sub-category li{
    list-style: none;
    display: inline-block;
    padding: 12px 15px;
    background-color: #ffffff;
    border: 1px solid #C5C5D6;
    border-radius: 8px;
    margin: 5px 4px;
} 
.sub-category li a{
    text-decoration: none;
    color: #454554;
    font-size: 14px;
} 
.show-tittle{
    font-size: 12px;
    color: #6F6F87;
}
.row-pdng{
    padding: 24px;
    margin: 22px 0px;
}
.row-pdng:hover{
    box-shadow: 0 12px 20px 0 rgba(0, 0, 50, 0.12);
}


.max-width{
    max-width: 70px;
}
.heading-h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 15px;
}
.row-href{
    text-decoration: none;
}


/****** Style Star Rating Widget *****/

.cat-dtls .rating { 
    border: none;
    float: left;
}

.cat-dtls .rating > input { display: none; } 
.cat-dtls .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.cat-dtls .rating > .half:before { 
    content: "\f089";
    position: absolute;
}

.cat-dtls .rating > label { 
    color: #ddd; 
    float: right; 
    margin-left: 0px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.cat-dtls .rating > input:checked ~ label, /* show gold star when clicked */
.cat-dtls .rating:not(:checked) > label:hover, /* hover current star */
.cat-dtls .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.cat-dtls .rating > input:checked + label:hover, /* hover current star when changing rating */
.cat-dtls .rating > input:checked ~ label:hover,
.cat-dtls .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.cat-dtls .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.star-p{
    padding-top: 7px;
    font-size: 14.5px;
    color: #454554;
}
.detail-1{
    color: #454554;
    margin-top: 60px;
    margin-bottom: 16px;
    font-size: 16px;
}

.detail-2{
    color: #6F6F87;
    font-size: 14px;
}
@media(max-width: 768px){
    .heading-h4 {
        font-size: 20px;
        margin-top: 15px;
    }
    .row-pdng{
        padding: 14px;
        margin: 22px 0px;
    }
    .bdr-b {
        border-bottom: 0px solid #f2f2f5;
    }
    .bdr-l{
        border-left: 0px solid #f2f2f5;
    }
    .bdr-r {
        border-right: 0px solid #f2f2f5;
    }
}


/* ----------------------- Category Details Page End-----------------------------*/

/* ----------------------- Company Review Page -----------------------------*/


.com-dtls-header{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 50, 0.04);
}
.com-dtls-header img{
    padding: 15px;
    border: 1px solid #f2f2f5;
}
.com-dtls-header h1{
    font-weight: 700;
    padding:0px;
    color: #000000;
    font-size: 34px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.com-dtls-header h5{
    color: #515174;
    font-size: 18px;
    margin-bottom: 8px;
}
.com-dtls-header .link{
    text-decoration: none;
    margin-left: 15px;
    color: #000;
    font-weight: 600;
    font-size: 20px;
}
.com-dtls-header .globe-icon{
    color: #515174;
    font-size: 20px;
}
.com-dtls-header .linkdiv{
    padding: 10px 10px 3px 25px;
    border: 1px solid #f2f2f5;
}
.com-dtls-header .linkdiv:hover{
    background-color: #f2f2f5;
}
.com-dtls-header .visit{
    color: #515174;
    text-decoration: none;
}
.com-dtls-header .ask{
    margin-right: 7px;
    color: #00b67a;
    font-size: 16px;
}
.com-dtls-header .ask-review{
    font-weight: 600;
}
.com-dtls-header .linkdiv2{
    padding: 10px 10px 3px 25px;
    border: 1px solid #f2f2f5;
}
.com-dtls-header .linkdiv2:hover{
    background-color: #f2f2f5;
}

.ptb-30{
    padding: 30px 0px;
}
@media(max-width: 768px){
    .com-dtls-header img{
        padding: 20px;
    }
    .com-dtls-header h1 {
        font-size: 28px;
        margin-top: 12px;
    }
    .ptb-30{
        padding: 10px 0px;
    }
    .com-dtls-header .linkdiv {
        padding: 10px 10px 3px 14px;
    }
    .com-dtls-header .link {
        font-size: 16px;
    }
    .com-dtls-header .linkdiv2 {
        padding: 10px 10px 3px 14px;
        border: 1px solid #f2f2f5;
    }
}

.com-dtls{
    margin-top: 20px;
    margin-bottom: 30px;
}
.com-dtls .col-pdng{ 
    padding: 30px;   
}
.com-dtls .form-group {
    margin-bottom: 15px;
    margin-top: 20px;
}

.com-dtls .form-control {
    display: block;
    width: 60% !important;
    height: 100px !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color:#999999;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.com-dtls input[type=submit] {
    width: 20%;
    background-color: #1a66ff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

@media(max-width: 600px){
    .com-dtls .form-control {
        width: 100% !important;
        height: 100px !important;
    }
    .com-dtls .col-pdng{ 
        padding: 20px;  
    }
    .com-dtls input[type=submit] {
        width: 30%;
        background-color: #1a66ff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 5px;
    }
}

/* Three column layout */
.com-dtls .side {
    float: left;
    width: 12%;
    margin-top:10px;
}

.com-dtls .middle {
    margin-top:10px;
    float: left;
    width: 65%;
}

/* Place text to the right */
.com-dtls .right2 {
    text-align: left;
}

/* Clear floats after the columns */
.com-dtls .row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.com-dtls .bar-container {
    width: 90%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 25px;
    border: 1px solid #c1c1c152;
}
.com-dtls .bar-1,.com-dtls .bar-2,.com-dtls .bar-3,.com-dtls .bar-4,.com-dtls .bar-5{
    border-radius: 25px;
}

/* Individual bars */
.com-dtls .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.com-dtls .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.com-dtls .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.com-dtls .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.com-dtls .bar-1 {width: 2%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .com-dtls .bar-container {
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
        color: white;
    }
    .com-dtls .side, .middle {
        width: 100%;
    }
    .com-dtls .right2 {
        display: none;
    }
    .com-dtls .middle {
        margin-top: 10px;
        float: left;
        width: 100%;
    }
}
.com-dtls .un-h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;

}
.com-dtls .re-heading{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 18px;
}
.com-dtls .re-content{
    font-size: 16px;
    margin-bottom: 30px;
}
.com-dtls .icon-ul{
    padding-left: 0px;
}
.com-dtls .icon-ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.com-dtls .icon-ul li a{
    text-decoration: none;
    color: #77738f;
}
.com-dtls .icon-ul li i{
    padding-right: 8px;
}
.com-dtls .flag{
    text-decoration: none;
}
.com-dtls .flag i{
    padding: 10px;
    float: right;
    color: #77738f;
}

@media(max-width: 600px){
    .com-dtls .icon-ul li {
        list-style: none;
        display: inline-block;
        padding: 2px;
    }
}

.com-dtls .col4-h4{
    margin-top: 28px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 19px;
}
.com-dtls .col4-h4-2{
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
}
.bdr-btm{
    border-bottom: 3px solid #f2f2f5;
}
.social-list{
    padding-left: 0px;
    margin-top: 20px;
}
.social-list li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.social-list li a{
    text-decoration: none;
    color: #000;
    padding: 11px 18px;
    background-color: #e8e8eb;
    font-size: 18px;
}
.activity-list{
    padding-left: 0px;
}
.activity-list li{
    list-style: none;
    padding: 6px 0px;
    line-height: 1.6;
    font-size: 16px;
}
.activity-list li i{
    list-style: none;
    margin-right: 5px;
    color: #77738f;
}
.mb-0{
    margin-bottom: 0px;
}
.com-dtls .i{
    color: #77738f;
    padding-right: 10px;
}
.com-dtls .i-2{
    color: #77738f;
    padding-right: 15px;
}
/* ----------------------- Company Review Page End-----------------------------*/

/* ----------------------- User Setting -----------------------------*/
.dropbtn {
    background: none;
    color: white;
    padding: 22px 5px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000032;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding-left: 20px !important;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #0c244c;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    border-bottom: 3px solid #ffffff;
}

.user-img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dropbtn span{
    padding-left: 15px;
    font-size: 16px;
}
.user-name{
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 50, 0.04);
}
.user-row{
    padding: 50px;
}
.user-name img{
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user-name h1{
    font-weight: 600;
    margin-left: 32px;
    margin-top: 7px;
}
.user-name p{
    margin-left: 36px;
    font-size: 14px;
}
.user-name h3{
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
}
.p-icon{
    margin-left: 0px !important; 
}
.c-pdng{
    padding: auto;
}
@media (max-width: 768px){
    .user-row {
        padding: 20px;
    }
    .user-name img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .user-name h1 {
        font-weight: 600;
        margin-left: 0px;
        font-size: 30px;
        margin-top: 7px;
    }
    .user-name p {
        margin-left: 1px;
        font-size: 14px;
    }
    .c-pdng {
        padding: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .user-name h3 {
        text-align: center;
        font-size: 37px;
        margin-top: 8px;
        margin-bottom: 5px;
    }
}
.prsnl-info{
    margin-top: 20px;
    margin-bottom: 50px;
}
.col-7-pdng{
    padding: 25px 50px;
    border-right: 10px solid #f2f2f5;
}
.prsnl-info h2{
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.prsnl-info .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.prsnl-info .btn-primary {
    color: #fff;
    background-color:#1a66ff;
    border-color: #1a66ff;
}
.prsnl-info .div1 {
    position: relative;
    overflow: hidden;
}
.prsnl-info .input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}
.prsnl-info .btn1 {
    width: 32%;
    text-align: center;
    padding: 14px 7px;
    border: none;
    border-radius: 2px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}
.prsnl-info input[type=text], select, textarea {
    width: 100%;
    height: 46px;
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.prsnl-info label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 500;
}
.prsnl-info ::placeholder { 
    color: #a3a4ac;
}
.prsnl-info input[type=submit] {
    width: 35%;
    background-color: #1a66ff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
}
.prsnl-info  .form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: 11px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #a3a4ac;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.prsnl-info .form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
}

@media(max-width: 767px){
    .col-7-pdng {
        padding: 25px 20px;
        border-right: 0px solid #f2f2f5;
    }
    .prsnl-info .btn1 {
        width: 50%;
        text-align: center;
        padding: 10px 7px;
        border: none;
        border-radius: 2px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
    }
    .prsnl-info input[type=submit] {
        width: 50%;
    }
}
@media(min-width: 768px) and (max-width: 1000px){
    .col-7-pdng {
        border-right: 10px solid #f2f2f5;
    }
    .prsnl-info .btn1 {
        width: 60%;
        text-align: center;
        padding: 14px 7px;
        border: none;
        border-radius: 2px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
    }
    .prsnl-info input[type=submit] {
        width: 50%;
        background-color: #1a66ff;
        color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 2px;
    }
}

.col-5-pdng{
    padding: 25px 50px;
    border-left: 10px solid #f2f2f5;
}
.col-5-pdng .fb {
    background-color: #3B5998;
    color: #ffffff;
    width: 70%;
    margin:1% 15%;
    margin-bottom: 4%;
}
.col-5-pdng .fb:hover {
    opacity: 1;
    color: #ffffff;
}
@media(max-width: 767px){
    .col-5-pdng {
        padding: 25px 20px;
        border-left: 0px solid #f2f2f5;
        margin-top: 20px;
    }
}
@media(min-width: 768px) and (max-width: 1000px){
    .col-5-pdng {
        padding: 25px 12px;
        border-left: 10px solid #f2f2f5;
    }
    .col-5-pdng .fb {
        background-color: #3B5998;
        color: #ffffff;
        width: 70%;
        margin: 1% 15%;
        margin-bottom: 4%;
        font-size: 12px;
    }
}
/* ----------------------- User Setting End-----------------------------*/
/* ----------------------- submit-company -----------------------------*/
.submit-company{
    padding-top: 100px;
    padding-bottom: 100px;
}
.submit-padding{
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px;
}
.cnt-width{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.submit-company h1{
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 35px;
    margin-top: 0px;
}

.submit-company input[type=text], select, textarea {
    width: 100%;
    height: 60px;
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit-company ::placeholder { 
    color: #a3a4ac;
}
.submit-company input[type=submit] {
    width: 100%;
    background-color: #1a66ff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.submit-company  .form-control {
    display: block;
    width: 100%;
    height: 55px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #a3a4ac;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.submit-company .form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
@media(max-width: 520px){
    .submit-company {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .cnt-width {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .submit-padding {
        padding: 30px;
        box-shadow:none;
    }
}
@media(min-width:768px) and (max-width: 1000px){
    .cnt-width {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}
/* ----------------------- submit-company End-----------------------------*/

/* ----------------------- my account -----------------------------*/
.my-account{
    padding-top: 100px;
    padding-bottom: 100px;
}
.nav-ul{
    padding-left: 0px;
    margin-bottom: 0px;
}
.nav-ul li{
    list-style: none;
    display: inline-block;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.nav-ul li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    padding: 12px 15px;
    text-align: center;
    color: #333333;
}
.nav-ul li a:hover{
    transition: 0.5s;
}
.my-account .width{
    width: 80%;
}
.my-account .active{
    background-color: #000032;
    padding: 12px 15px;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
.my-account .active a{
    color: #ffffff !important; 
}
.my-account h2{
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.my-account .col12-pd{
    padding: 25px 40px;
}
.col12-pd2{
    padding: 25px 0px 0px 0px;
    background-color: #f9f9fa;
}
.user-h5{
    font-size: 18px;
    font-weight: 600;
}
.my-account .re-heading{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 18px;
}
.my-account .re-content{
    font-size: 16px;
    margin-bottom: 30px;
}
.my-account .icon-ul{
    padding-left: 0px;
}
.my-account .icon-ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.my-account .icon-ul li a{
    text-decoration: none;
    color: #77738f;
}
.my-account .icon-ul li i{
    padding-right: 8px;
}
.my-account .flag{
    text-decoration: none;
}
.my-account .flag i{
    padding: 10px;
    float: right;
    color: #77738f;
}
@media(max-width: 700px){
    .my-account {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .my-account .active {
        background-color: #000032;
        padding: 5px 5px;
        border-top-right-radius: 6px !important;
        border-top-left-radius: 6px !important;
    }
    .nav-ul li a {
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;
        padding: 5px 5px;
        text-align: center;
        color: #333333;
    }
    .my-account .width {
        width: 100%;
    }
    .my-account h2 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .my-account .col12-pd {
        padding: 25px 16px;
    }
    .user-h5 {
        font-size: 16px;
        font-weight: 600;
    }
    .my-account .re-heading {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 18px;
    }
    .my-account .re-content {
        font-size: 13px;
        margin-bottom: 30px;
    }
}

/* ----------------------- my account End-----------------------------*/

/* ----------------------- My Profile -----------------------------*/
.my-profile{
    /*  padding-top: 100px;
      padding-bottom: 100px;*/
}
.my-profile .active{
    background-color: #000032;
    padding: 12px 15px;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
.my-profile .active a{
    color: #ffffff !important; 
}
.my-profile .width{
    width: 80%;
}
.my-profile h2{
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.my-profile .col12-pd{
    padding: 25px 40px;
}
.my-profile input[type=email],.my-profile input[type=text],.my-profile input[type=file], .my-profile select, .my-profile textarea {
    width: 100%;
    height: 46px;
    padding: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.my-profile input[type=password] {
    width: 100%;
    height: 46px;
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.my-profile ::placeholder { 
    color: #a3a4ac;
}
.my-profile input[type=submit] {
    width: 35%;
    background-color: #1a66ff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
}
@media(max-width: 700px){
    .my-profile {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .my-profile .active {
        background-color: #000032;
        padding: 5px 5px;
        border-top-right-radius: 6px !important;
        border-top-left-radius: 6px !important;
    }
    .my-profile .width {
        width: 100%;
    }
    .my-profile h2 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .my-profile .col12-pd {
        padding: 25px 25px;
    }
    .my-profile input[type=submit] {
        width: 70%;
        background-color: #1a66ff;
        color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 2px;
    }
}
/* ----------------------- My Profile End-----------------------------*/

/* ----------------------- My Company End-----------------------------*/
.my-company{
    padding-top: 100px;
    padding-bottom: 100px;
}

.my-company .active{
    background-color: #000032;
    padding: 12px 15px;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
.my-company .active a{
    color: #ffffff !important; 
}
.my-company .width{
    width: 80%;
}
.my-company h2{
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.my-company .col12-pd{
    padding: 25px 40px;
}
.my-company .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}
.my-company .table {
    /*width: 80%;*/
    margin-bottom: 20px;
}
.my-company table>tbody>tr>td{
    padding: 12px;
}

.i-action{
    margin-right: 15px;
}
.i-blue{
    color: #0067c7;
}
.i-red{
    color: #d60000;
}
@media(max-width: 700px){
    .my-company {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .my-company .active {
        background-color: #000032;
        padding: 5px 5px;
        border-top-right-radius: 6px !important;
        border-top-left-radius: 6px !important;
    }
    .my-company .width {
        width: 100%;
    }
    .my-company h2 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .my-company .col12-pd {
        padding: 25px 15px;
    }
    .my-company .table {
        width: 100%;
        margin-bottom: 20px;
    }
    .my-company table>tbody>tr>td {
        padding: 10px 5px 10px 6px;
    }
}
/* ----------------------- My Company End-----------------------------*/

/* ----------------------- User Login -----------------------------*/
.userlogin{
/*    padding: auto;
    background-color: #ffffff;*/
}
.userlogin .log-padding{
    padding: 45px;
}
.userlogin h2{
    font-weight: 600;
    margin-bottom: 30px;
}
.userlogin .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
}
.userlogin .google {
    background-color: #dd4b39;
    color: #ffffff;
    width: 30%;
}
.userlogin .google:hover {
    opacity: 1;
    color: #ffffff;
}
.userlogin .fb {
    background-color: #3B5998;
    color: #ffffff;
    width: 30%;
}
.userlogin .fb:hover {
    opacity: 1;
    color: #ffffff;
}
.userlogin h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.userlogin .form-control {
    display: block;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 22px;
    height: 55px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.userlogin .btn-block {
    display: block;
    width: 30%;
    height: 50px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #1a66ff;
    color: #ffffff;
}
.userlogin .btn-block:hover{
    background-color: #0d50d6;
    color: #ffffff;
}

@media(max-width: 768px){
    .userlogin h2 {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .userlogin .google {
        width: 100%;
    }
    .userlogin .fb {
        width: 100%;
    }
    .userlogin h5 {
        font-size: 14px;
    }
    .userlogin .form-control {
        display: block;
        width: 100%;
        margin-left: 0%; 
        margin-right: 0%;
    }
    .userlogin .btn-block {
        display: block;
        width: 50%;
        height: 50px;
        margin-left: 25%;
        margin-right: 25%;
        background-color: #1a66ff;
        color: #ffffff;
    }
}

.userlogin2{
    /*background-color: #f2f2f5;*/
}
.userlogin2 .log-padding{
    padding: 35px;
}
.userlogin2 h3{
    font-weight: 600;
    color: #6f6f87;
}
.userlogin2 p{
    color: #6f6f87;
}
.userlogin2 .btn {
    padding: 10px;
    border: none;
    border-radius: 0px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}
.userlogin2 .login {
    background-color: #1a66ff;
    color: #ffffff;
    width: 12%;
    margin-right: 10px;
}
.userlogin2 .login:hover {
    opacity: 1;
    color: #ffffff;
}
.userlogin2 .signup {
    background-color: #1a66ff;
    color: #ffffff;
    width: 12%;
    margin-left: 10px;
}
.userlogin2 .signup:hover {
    opacity: 1;
    color: #ffffff;
}
@media(max-width: 768px){
    .userlogin2 .login {
        width: 30%;
    }
    .userlogin2 .signup {
        width: 30%;
    }
}
/* ----------------------- User Login End-----------------------------*/


.star-business i{
    font-size: 22px;
    margin-right: 5px;
}

/*error page css*/
.error-page {
    margin: 50px auto;
    text-align: center;
}
.write-review{
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
}
#error_rating{ color: #d41818;}
.desp-div{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 63px;
    width: 100%;
}
.p0{
    padding: 0 !important;
}

.topNavSearch{
    height: 80px !important;
    background: #000032 !important;
    font-size: 24px !important;
    color: #fff !important;
    border: none !important;
    padding: 0 2em !important;
}
@media(max-width: 1169px){
    .topNavSearch{
        height: 50px !important;

    }  
}
.pd-t-15{
    padding-top: 15px;
}



/*popup css*/
.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.openBtn:hover {
    background: #bbb;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    display: block;
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}

/*Get start button css*/
.homeBtn {
    color: #fff !important;
    font-size: 28px;
    border-radius: 50px;
    background-color: #bf1818;
    font-family: sans-serif;
    display: inline-block !important;
    margin: 10px;
    padding: 13px 35px 13px 35px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.homeBtn:hover{
    text-decoration: none;
}
.company-details .hero{
    background-image: url(../images/hero_custom.jpg) !important;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    background-attachment: fixed !important;
    background-position: top center !important;
}

.sidebar {
    padding: 20px;
    background: #f4f4f5;
    /*    position: sticky;
        top: 50px;*/
}
.adds h4 {
    margin: 15px 0;
}
.sidebar .sponserAdd {
    padding: 20px 15px;
    background: #fff;
    border: 1px dotted #ddd;
}
.r_list {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.r_list a:hover{
    text-decoration: none;
}
/*.r_list i {
     font-size: 30px; 
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 12px;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #eee;
    float: left;
    margin-right: 10px;
}*/
.rListed li {
    margin-bottom: 10px;
    padding: 10px 8px;
    transition: 0.5s all;
    border-radius: 50px;
    background: linear-gradient(90deg, #04a0e6 0% , #03A9F4 37%);
    border: 1px solid #c1c1c1;
}
.sidebar-list {
    background: none !important;
    padding: 4px 8px !important;
    padding-left: 30px !important;
}
.rListed li:hover {
    box-shadow: 0px 0px 100px inset #ddd;
    border-radius: 50px;
    cursor: pointer;
}
.r_list a {
    font-size: 15px;
    display: block;
}
.revDesc{
    line-height: 20px;
    text-align: justify;
}
.reply, .replyModel{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
.replyDiv{
    /*margin-left: 50px;*/
    /*background: #ebebf1;*/

    /*padding-left: 50px !important;*/
    margin-top: -15px;
}