RewriteEngine On
#RewriteCond %{HTTPS} !^on$
#
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
#
#RewriteBase /
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
#
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)/$ /$1 [L,R]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# no one gets in here!
Options -Indexes

Options +FollowSymLinks

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)/(.*)$ ./index.php?url=$1
RewriteRule ^index/([0-9a-zA-Z-]+) index.php?page=$1

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ ./blog-details.php?url=$1
#RewriteRule ^(.*)$ ./category.php?url=$1
RewriteRule ^blog-details/([0-9a-zA-Z-]+) blog-details.php?catSlug=$1

