html {
  overflow-x: hidden;
}

#welcome {
  padding: 0;
}

#welcome .name {
  color: #838081;
  font-weight: 700;
}

#welcome .welcomeLeft {
  background-color: #e3e3e3;
  height: 100vh;
  max-height: 721px;
}

#welcome .welcomeLeft .logo {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcome .welcomeLeft .logo img {
  height: 80px;
}

#welcome .welcomeLeft .logo h1 {
  color: #f6851c;
  font-size: 60px;
  font-weight: bold;
}

@media (max-width: 768px) {
  #welcome .welcomeLeft .logo h1 {
    display: none;
  }
}

@media (max-width: 768px) {
  #welcome .welcomeLeft .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #welcome .welcomeLeft .logo svg {
    height: 40px;
  }
}

#welcome .welcomeLeft .buttons {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#welcome .welcomeLeft .buttons button {
  background-color: #f6851c;
  color: #eaebed;
  font-size: 12px;
  padding: 0 5px;
  margin: 5px;
}

@media (max-width: 768px) {
  #welcome .welcomeLeft .buttons {
    display: none;
  }
}

@media (max-width: 768px) {
  #welcome .welcomeLeft {
    height: 100vh;
    max-height: 150px;
    padding: 25px;
  }
}

#welcome .welcomeRight {
  background-color: white;
  height: 100vh;
  max-height: 721px;
}

#welcome .welcomeRight .right {
  background-image: url("image/onboarding-welcome-bg.html");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
}

#welcome .welcomeRight .right .welcomeHead {
  padding: 20px;
  text-align: right;
}

#welcome .welcomeRight .right .rightImage {
  padding-top: 55px;
}

#welcome .welcomeRight .right .rightImage .image {
  text-align: center;
}

#welcome .welcomeRight .right .rightImage .image img {
  height: 80px;
}

@media (max-width: 768px) {
  #welcome .welcomeRight .right .rightImage .image {
    height: 80px;
    display: none;
  }
}

#welcome .welcomeRight .right .text {
  background-color: #f2f3f5;
  width: 75%;
  margin: auto;
  margin-top: 30px;
  padding: 30px 15px;
  border-radius: 20px;
}

#welcome .welcomeRight .right .text .headings {
  text-align: center;
}

#welcome .welcomeRight .right .text .headings .headButton {
  width: 49%;
  padding: 10px;
  color: #f6851c;
  border: 1px solid #f6851c;
}

#welcome .welcomeRight .right .text .headings #findTresor .component {
  color: #f6851c;
  margin-top: 15px;
  border: 2px solid #f6851c;
  min-height: 200px;
  max-height: 400px;
  height: 100%;
  padding: 10px 5px;
}

#welcome .welcomeRight .right .text .headings #findTresor .component .componentContent h5 {
  margin: 15px 0px;
  font-size: 20px;
}

#welcome .welcomeRight .right .text .headings #findTresor .component .componentContent p {
  font-size: 14px;
  color: #f6851c;
  margin: 15px 0;
}

#welcome .welcomeRight .right .text .headings #findTresor .component .componentContent .button {
  margin-top: 40px;
}

#welcome .welcomeRight .right .text .headings #findTresor .component .componentContent .button .btnlinks {
  border: 2px solid #f6851c;
  color: #f6851c;
}

@media (max-width: 992px) {
  #welcome .welcomeRight .right .text {
    width: 80%;
  }
}

@media (max-width: 768px) {
  #welcome .welcomeRight {
    height: 100%;
    max-height: 1100px;
  }
}

.modal .modal-dialog .modal-content {
  background-color: #f6851c;
}

.modal .modal-dialog .modal-content .modal-header {
  color: white;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 40px;
}

.modal .modal-dialog .modal-content .modal-body form label {
  color: white;
}

.modal .modal-dialog .modal-content .modal-body form .button {
  text-align: center;
}

.modal .modal-dialog .modal-content .modal-body form .button .modalButton {
  background-color: white;
  color: #f6851c;
  padding: 10px;
  font-weight: 600;
  border: 2px solid #f6851c;
}

.modal .modal-dialog .modal-content .modal-body form .button .modalButton:hover {
  background-color: #f6851c;
  color: white;
  border: 2px solid white;
}
/*# sourceMappingURL=indexStyle.css.map */