  .login-container{
  /*  margin-top: 5%;
    margin-bottom: 5%;*/
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: linear-gradient(0deg,#0072ed 0%,#0072ed 100%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding-top: 25px;
    color: #fff;
    text-align: center;
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    margin-top: 20px;
     margin-bottom: 30px;
}
.login-form-2 h5{
    color: #fff;
    text-align: center;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    background-color: lightgrey;
    color: #545454;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    /*color: #fff;
    background-color: #0062cc;*/
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}


#login-form #url-reminder {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
}
#url-reminder-container {
    background-color: #eff6ff;
    border-radius: 3px;
    padding: 16px 32px;
    width: 99%;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 10px;
}

input{
    border-radius: 0px !important;
    background-color: #fff;
    padding: 24px 16px;
    border-radius: 2px;
    border: 1px solid #1a2b631a;
}

#terms-and-conditions {
    color: #343a49cc;
    font-size: 11px;
    text-align: center;
}