
.blog article {
    /*    background: #e9ecef;
        padding: 20px;
        border-radius: 6px;*/
}
.post-thumbnail {
    display: block;
}
.post-thumbnail {
    margin: 0 0 1.5em;
}
.blog article img {
    border-radius: 9px;
    width: 100%;
    height: auto;
}
.entry-title {
    margin: 0 0 0.5em;
    font-size: 2.25rem;
    word-wrap: break-word;
}
.blog header.entry-header h2 a {
    color: #000 !important;
    /*font-weight: bold !important;*/
    color: black;
    font-weight: 600;
    margin-top: 10px;
    font-size: 20px;
}
.entry-meta {
    /*margin: 0 0 1.5em;*/
    border: 0 solid #e9ecef;
}
.entry-meta  span {
    margin-right: 1.5rem;
    display: inline-block;
}
.entry-meta span a {
    color: #2196F3 !important;
}
.entry-content {
    /*margin: 0 0 3em;*/
}
.entry-content p {
    margin-bottom: 1.4em;
}
.tg-read-more-wrapper .tg-read-more {
    display: inline-block;
}
.entry-content a {
    color: #2196F3 !important;
}
.blog a{
    text-decoration: none;
}
.tg-read-more-wrapper{
    margin: 5px 0;
}

/*blog righ bar*/ 
.widget.widget_search .search-form label {
    width: 100%;
}
.search-form label {
    position: relative;
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
input[type="search"]{
    color: #16181a;
    border: 1px solid #dee2e6;
    padding: 0.9rem 1rem;
    width: 100%;
    border-radius: 0;
    font-weight: 400;
}
.widget {
    margin: 0 0 2.5rem;
}
.search-form .search-submit {
    display: none;
}
input[type="submit"] {
    border: 0 solid #e9ecef;
    background-color: #269bd1;
    color: #fff;
    padding: 0.7rem 1rem;
}
.rpwwt-widget ul {
    list-style: outside none none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.rpwwt-widget ul li {
    overflow: hidden;
    margin: 0 0 1.5em;
    padding-bottom: 1.5em;
}
.widget ul li {
    border-bottom: 1px solid #e9ecef;
}
.widget ul li a {
    padding: 0.5rem 0;
    display: inline-block;
}
#rpwwt-recent-posts-widget-with-thumbnails-2 img {
    /*    width: 90px;
        height: 90px;*/
    width: 100%;
    height: auto;
    border-radius: 14px;
}
.rpwwt-widget ul li img {
    display: inline;
    float: left;
    margin: .3em .75em 0em 0;
}
span.rpwwt-post-title {
    color: black;
    font-weight: 600;
    margin-top: 10px;
    font-size: 20px;
}
span.rpwwt-post-date {
    background: #ffdead;
    padding: 0px 5px !important;
    border-radius: 4px;
    color: #000;
}
.datespace {
    margin: 10px !important;
}
span.rpwwt-post-title:hover {
    color: #2196F3;
}
#primary {
    /*padding-right: 60px;*/
    /*border-right: 1px solid #e9ecef;*/
}
#secondary {
    /*padding-left: 35px;*/
}
.hentry {
    margin: 0 0 2em;
    border: 2px solid #e9ecef;
    display: inline-block;
    padding: 10px 0;
}
.blog-section{
    margin: 60px 0;
    margin-top: 20px;
}
.blog-details .entry-meta{
    margin-bottom: 15px;
    margin-top: 10px;
}






/*blog details page*/
.blog-details article {
    background: transparent;
    padding: 0px;
    /*border-radius: 6px;*/
    border: 0;
}
.blog article img {
    border-radius: 0px;
    width: 100%;
    height: auto;
    border-radius: 14px;
}
.blog, .blog-details{
    font-family: -apple-system, blinkmacsystemfont, "segoe ui", roboto, "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial, sans-serif;
}

/*media query*/
@media(max-width: 991px){
    #primary {
        padding-right: 0px;
        border-right: none;
    }
    #secondary {
        padding-left: 0px;
    }
}

.blogDespMain {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: break-spaces;
    height: 102px;
}
.blogContainer{
    background: #fff;
    padding: 20px 0;
}
.imgBlggDetails{
    text-align: center;

}

.imgBlggDetails img{
    width: 100%;
    height: auto;
    border-radius: 14px;

}
.blog-details .entry-header h1{
    padding-bottom: 20px;
}
.blog-details span.rpwwt-post-date,.blog span.rpwwt-post-date{
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}

.breadcrumb.wizard {
    padding: 0px;
    background: #D4D4D4;
    list-style: none;
    overflow: hidden;
    /*margin-top: 20px;*/
    font-size: 12px;
}
.breadcrumb.wizard>li+li:before {
    padding: 0;
}
.breadcrumb.wizard li {
    float: left;
}
.breadcrumb.wizard li.active a {
    background: brown;                   /* fallback color */
    background: #ffc107 ;
}
.breadcrumb.wizard li.completed a {
    background: brown;                   /* fallback color */
    background: hsla(153, 57%, 51%, 1);
}
.breadcrumb.wizard li.active a:after {
    border-left: 30px solid #ffc107 ;
}
.breadcrumb.wizard li.completed a:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumb.wizard li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    float: left;
}
.breadcrumb.wizard li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb.wizard li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.breadcrumb.wizard li:first-child a {
    padding-left: 15px;
}
.breadcrumb.wizard li a:hover { background: #ffc107  ; }
.breadcrumb.wizard li a:hover:after { border-left-color: #ffc107   !important; }
